<template>
    <f7-page name="avatar">
        <f7-navbar>
            <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"></f7-link>
            </f7-nav-left>
            <h1 class="title">Paramètres</h1>
        </f7-navbar>
        <f7-block class="onmiddle">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item,index) in bus.avatars" :key="item.index">
                        <div class="imgwrapper"><img :src="item.src"></div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </f7-block>
         <div class="content-block" style="position: absolute;bottom: 24vh;left: 0;width: 100%;">
            <div class="list-block inset">
                <ul>
                    <li class="codeaction"
                        v-show="!bus.needCodeVerification()"><strong>Activer le code</strong><span><img
                            src="../../images/off.png" alt="Non" data-popup="#mypopupcodeentrer" class="open-popup"> <em
                            href="#" class="off">Changer&nbsp;le&nbsp;code</em></span></li>
                    <li class="codeaction"
                        v-show="bus.needCodeVerification()"><strong>Activer le code</strong><span><img
                            src="../../images/on.png" alt="Oui" data-popup="#mypopupcodedesactiver" class="open-popup"> <em
                            href="#" data-popup="#mypopupcodemodifier"
                            class="open-popup on">Changer&nbsp;le&nbsp;code</em></span></li>
                </ul>
            </div>
        </div>
        <f7-button type="submit" class="pclose tobottom" @click="saveCurrentAvatar">Enregistrer</f7-button>
    </f7-page>
</template>



<script>
import bus         from "../../../main.js";
import nextimg     from "../../../assets/images/next.png";
import previousimg from "../../../assets/images/previous.png";

export default {
  data : function() {
    return {
      bus : bus,
      sw : null
    };
  },
  computed : {
    needCode : function() {
      return bus.needCode;
    }
  },
  beforeMount : function() {
    bus.$emit("closemenu", 1);
  },

  mounted : function() {
    bus.is_index = false;
    var mySwiper = new Swiper(".swiper-container", {
      direction : "horizontal", // effect : "coverflow",
      // coverflow : {
      //   rotate : 15,
      //   stretch : 0,
      //   depth : 100,
      //   modifier : 1,
      //   slideShadows : false
      // },
      loop : false,
      slidesPerView : 3,
      centeredSlides : true,
      scrollbarHide : true,
      scrollbar : null,
      nextButton : ".swiper-button-next",
      prevButton : ".swiper-button-prev",
      initialSlide : bus.avatar_index
    });
    this.sw = mySwiper;
  },

  methods : {
    saveCurrentAvatar : function() {
      bus.saveAvatar(this.sw.realIndex);
      window.f7.mainView.router.loadPage("/accueil");
    }
  }
};
</script>