<template>
<f7-page name="bonusage">
    <f7-navbar>
        <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
            <!-- <f7-link icon="icon-times" @click.prevent="closeTheMenu" style="z-index:9999" v-show="openMenu"></f7-link> -->
        </f7-nav-left>
        <h1 class="title">Bon usage</h1>
    </f7-navbar>
    <f7-block>

        <h2 id="title_bonusage">Reconstitution rapide et facilitée&nbsp;:<br>dispositif de transfert <span>Mix2Vial<sup>®</sup></span>
        </h2>
        <img src="../../images/bonusage1.png" alt="Bon usage" class="bonusage" />
        <img src="../../images/bonusage2.png" alt="Bon usage" class="bonusage" />
        <f7-block id="blueblock"><h3 id="txtbonusage">Votre produit est prêt à être&nbsp;administré. Cette&nbsp;procédure est valable pour chaque&nbsp;flacon.</h3></f7-block>
        <p id="mix2vial">Mix2Vial<sup>®</sup> is a registered trademark of WestPharmaceutical Services, Inc or&nbsp;one&nbsp;of&nbsp;its&nbsp;subsidiaries.</p>

    </f7-block>
</f7-page>
</template>

<script>
    import bus from "../../../main.js";

    export default {
        beforeMount: function() {
            bus.$emit("closemenu", 1);
        },
  mounted:function(){
    bus.is_index=false;
  }
    }
</script>