<template>
<f7-page name="mentions">
            <f7-navbar>
                <f7-nav-left>
                    <f7-link icon="icon-bars" open-panel="left"></f7-link>
                    <!-- <f7-link icon="icon-times" @click.prevent="closeTheMenu" style="z-index:9999" v-show="openMenu"></f7-link> -->
                </f7-nav-left>
                <h1 class="title">Debug</h1>
            </f7-navbar>

    <f7-block>
        <button @click="displayNotifications">RUN</button>
        <div style="width:100%;height:50vh;overflow:scroll;white-space: pre">{{ntfs}}</div>

    </f7-block>
</f7-page>
</template>

<script>
    import bus         from "../../../main.js";
    import moment      from "moment";
    import momentrecur from "moment-recur";

    export default {
      beforeMount : function() {
        bus.$emit("closemenu", 1);
      },
      mounted : function() {
        bus.is_index = false;
      },
      data : function() {
        return {
          ntfs : ""
        };
      },
      methods : {
        displayNotifications : function() {
          var me = this;
          var retour = "====================================" + "\r\n";
          cordova.plugins.notification.local.getScheduled(function(notifications) {
            var i = 0;
            _.map(notifications, function(n) {
              if(n.trigger && n.trigger.at) {
                var t = moment(n.trigger.at).format();
                retour += ++i + ":" + (n.text + ":" + t) + "\r\n";
              }
              else {
                retour += ++i + ":" + JSON.stringify(n) + "\r\n";
              }
            });
            retour += "====================================" + "\r\n";
            me.ntfs = retour;
          });
          me.ntfs = "Récupération";
        }
      }
    };
</script>
