<template>
<f7-page name="donneespersonnelles">
            <f7-navbar>
                <f7-nav-left>
                    <f7-link icon="icon-bars" open-panel="left"></f7-link>
                    <!-- <f7-link icon="icon-times" @click.prevent="closeTheMenu" style="z-index:9999" v-show="openMenu"></f7-link> -->
                </f7-nav-left>
                <h1 class="title">Données personnelles</h1>
            </f7-navbar>

    <f7-block>

        <h2 class="conditions_mention">PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL</h2>

        <p>L'accès à l’Application et son utilisation ne donnent lieu, de la part de CSL Behring SA, à aucune collecte ni aucun traitement de données à caractère personnel relatives à l’Utilisateur ou à toute autre personne dont les données seraient renseignées
            au sein de l'Application. CSL Behring SA ne réalise aucune mesure d’audience ni aucun suivi du parcours de navigation des Utilisateurs. Seules les statistiques de mesure d'audience effectuées par les magasins d'applications pourront être analysées. L’Application n'accède à aucune donnée concernant le terminal de l’Utilisateur, ni aux autres données présentes
            dans le terminal ou dans les applications existantes (carnet d'adresse, rappels, horloge, photos, etc.).</p>
        <p>L'Utilisateur est seul responsable des données à caractère personnel le concernant et/ou relatives à un tiers (par exemple un membre de sa famille) qu'il serait amené à renseigner au sein de l'Application. L’Utilisateur s'engage à utiliser l’Application
            dans le respect du secret médical, de la vie privée et des droits et libertés fondamentales de toute personne concernée et conformément à toute réglementation applicable en matière de traitements de données personnelles.</p>

        <p><strong>Sécurisation de l'application.</strong></p>
        <p>Les données saisies dans l’Application sont hébergées localement, sur le terminal de l’Utilisateur. CSL Behring SA invite l’Utilisateur à la plus grande vigilance concernant l’accès à l'Application ou à son équipement mobile par des tiers non autorisés. L’Utilisateur est invité à mettre en place les mesures de sécurité adéquates pour protéger les données saisies dans l’Application contre tout accès illégitime (par exemple l’utilisation d’un code secret pour le déverrouillage de son appareil ou pour l'accès à l'Application). L'Utilisateur a la possibilité de sécuriser l'accès à l'Application au moyen d'un code à 4 chiffres. L'Application sera réinitialisée et les données relatives à l'Utilisateur seront supprimées après 3 saisies erronées. CSL Behring SA ne pourra pas être tenue responsable en cas d'oubli du code d'accès, de saisie erronée ou de la perte des données qui pourrait en résulter.<br>
            Le code secret est conservé localement dans l'Application et CSL Behring SA n'y a pas accès, sauf à la demande de l'Utilisateur et dans les conditions prévues ci-après.<br>
            CSL Behring SA ne pourra en aucun cas être tenue responsable de l'accès par un tiers.</p>
        <p>Pour toute information complémentaire relative à la protection des données personnelles, l’Utilisateur peut contacter le Référent CNIL de CSL Behring SA : dataprotection@cslbehring.com ou Tour Cristal - 7-11 quai André Citroën 75015 Paris.</p>
        <p>Pour toute information relative au aux traitements de données mis en oeuvre par les magasins d’applications, l’Utilisateur est invité à consulter la politique de protection des données proposée par le responsable de traitement concerné (par exemple <a
                href="#" @click.prevent="urlopen('https://www.apple.com/fr/privacy/');">Apple</a> ou
            <a href="#" @click.prevent="urlopen('https://www.google.com/intl/fr/policies/privacy/')">Google</a>).</p>
        <p>L'Utilisateur dispose du droit d'introduire une réclamation auprès de la CNIL : <a href="#"
                                                                                              @click.prevent="urlopen('www.cnil.fr.');">www.cnil.fr</a></p>

        <p><strong>Récupération du code d'accès</strong></p>
        <p>L'Utilisateur a la possibilité de demander la récupération de son code d'accès à l'Application par email. La saisie de l'adresse email de l'Utilisateur dans l'Application est facultative et ne conditionne pas l'accès à l'Application ou son utilisation. En cas de récupération du code d'accès par email, l'Utilisateur sera invité à modifier son code d'accès à la connexion suivante.</p>

        <p><strong>Traitement des données relatives à l'Utilisateur en cas de récupération du code d'accès</strong></p>
        <p>Les données relatives à l'Utilisateur (adresse email et code d'accès, à l'exclusion de toute autre donnée) sont traitées par CSL Behring SA ou l'agence agissant pour son compte pour la gestion de l'Application, sur la base du consentement préalable de l'Utilisateur.<br>
Les données sont exclusivement traitées sous forme chiffrée (c'est-à-dire sous une forme codée), aux fins de permettre à l'Utilisateur de récupérer son code d'accès. Elles sont automatiquement supprimées après envoi du code à l'Utillisateur.<br>
L'Utilisateur peut, à tout moment, retirer son consentement au traitement de ses données sans que ce retrait ne porte atteinte à la licéité du traitement effectué avant ce retrait. Pour cela, l'Utilisateur doit simplement supprimer son adresse email de l'Application. L'Utilisateur peut, à tout moment, modifier ou effacer son code d'accès et/ou son adresse email directement dans l'Application. L'Utilisateur dispose également d'un droit à la portabilité de ses données, à la limitation du traitement ainsi que du droit de définir des directives relatives au sort de ses données après son décès.<br>
    En-dehors de tout process de récupération du code d'accès, les données relatives à l'Utilisateur sont consérvées localement dans l'Application et ne font l'objet d'aucun traitement par CSL Behring SA.</p>


    </f7-block>
</f7-page>
</template>

<script>
    import bus from "../../../main.js";

    export default {
      beforeMount : function() {
        bus.$emit("closemenu", 1);
      },
      mounted : function() {
        bus.is_index = false;
      },
      methods : {
        urlopen : function(url) {
          cordova.InAppBrowser.open(url, "_system");
          return false;
        }
      }
    };
</script>
