<template>
<f7-page name="mentions">
            <f7-navbar>
                <f7-nav-left>
                    <f7-link icon="icon-bars" open-panel="left"></f7-link>
                    <!-- <f7-link icon="icon-times" @click.prevent="closeTheMenu" style="z-index:9999" v-show="openMenu"></f7-link> -->
                </f7-nav-left>
                <h1 class="title">Mentions légales</h1>
            </f7-navbar>

    <f7-block>

        <!--<div style="width:100%;height:50vh;overflow:scroll;white-space: pre" @click="displayNotifications">{{ntfs}}</div>-->

        <h2 class="conditions_mention">CONDITIONS GÉNÉRALES D’UTILISATION<br>DE L’APPLICATION <strong>HÉMOJ</strong></h2>

        <h3>1. édition de l'application "<strong>HÉMOJ</strong>"</h3>
        <p>Editeur : l’application <strong>HÉMOJ</strong> est éditée par la société <strong>CSL Behring SA</strong> – société anonyme (RCS de Paris B 383 939 352) au capital social de 11 250 738,00 euros, dont le siège social est situé au Tour Cristal 7/11 Quai André Citroën - 75015 PARIS.
            Téléphone : +33 1 53 58 54 00. La société CSL Behring SA est une filiale de CSL Limited, entreprise de biotechnologies spécialisée dans le développement, la fabrication et la distribution de protéines thérapeutiques. Le Directeur de la Publication
            est : <strong>Franck Puget</strong> - Directeur Général de la société CSL Behring SA.</p>
        <p><strong>Hébergeur</strong> : l’Application est hébergée par la boutique en ligne d'application mobile sur laquelle elle a été téléchargée, comme Appstore et Google Play.</p>

        <h3>2. Acceptation des Conditions d'Utilisation de l'Application</h3>
        <p>L'Application est une application non marchande destinée aux équipements de téléphonie mobile et disponible via les boutiques en ligne d'applications mobiles comme Appstore et Google Play.</p>
        <p>Les présentes Conditions d’Utilisation de l’Application.</p>
        <p><strong>HÉMOJ</strong> (ci-après l’ « Application ») régissent les conditions dans lesquelles la société CSL Behring SA accorde à l’Utilisateur de l’Application (ci-après « l'Utilisateur ») les droits d’accéder et d’utiliser l’Application sous réserve de son acceptation
            des Conditions Générales d’Utilisation en cliquant sur le bouton "J'accepte les CGU".</p>
        <p>Si l'utilisateur est mineur, il s'engage à ne consulter l'Application qu'en présence de ses parents ou tuteurs qui auront préalablement accepté les présentes conditions.</p>
        <p>Ces Conditions d’Utilisation sont susceptibles d'être modifiées par CSL Behring SA. Ces modifications seront notifiées à l'Utilisateur. Toute utilisation de l’Application après notification d’une modification vaudra acceptation des Conditions
            d'Utilisation modifiées. Les Conditions Générales d'Utilisation applicables seront alors celles en vigueur sur l'Application à la date de leur utilisation. En cas de désaccord, sur les modifications notifiées, l'Utilisateur s'engage à cesser
            l'utilisation de l'Application et à la supprimer sans délai de son équipement de téléphonie mobile.</p>

        <h3>3. OBJET</h3>
        <p><strong>HÉMOJ</strong> est une application mobile ayant pour objectif d’accompagner les personnes atteintes de troubles de la coagulation et qui suivent un traitement spécifique. La fonctionnalité principale est de permettre aux utilisateurs d’avoir un rappel
            d’injection via des notifications.</p>

        <h3>4. périmètre</h3>
        <p>L’accès et l’utilisation de l’Application sont réservés aux seuls Utilisateurs situés sur le territoire français. L’Application et son contenu peuvent ne pas être appropriés en dehors du territoire de la France, notamment au regard de la spécificité
            des réglementations étrangères applicables.</p>
        <h4>Publicité et financement de l'Application :</h4>
        <p>Cette Application ne reçoit aucun fonds publicitaire et n’héberge pas de publicité, seule CSL Behring SA finance ce projet.</p>

        <h3>5. propriété – propriété INTELLECTUELLE</h3>
        <p>L'ensemble des contenus figurant sur l’Application et l’Application elle-même (y compris les textes, données, bases de données, graphismes, logos, marques, dénominations, animations, images, vidéos, sons, logiciels et tous autres éléments) (ci-après,
            les « Contenus ») sont la propriété exclusive de CSL Behring SA et / ou de ses concédants de licence. Sauf disposition contraire expresse, ces Contenus sont protégés par les droits d'auteurs, copyright, marques, brevets, droits sur les bases
            de données, secrets de fabrique et / ou tous autres droits de propriété intellectuelle. </p>
        <p>Sauf disposition contraire, CSL Behring SA concède à l'Utilisateur un droit non-exclusif, incessible, personnel et limité d'accéder, d’utiliser, de visualiser et de copier les Contenus. Ce droit est concédé pour un usage exclusivement personnel
            et non commercial, et sous réserve de conserver toutes les mentions relatives aux droits de reproduction et de propriété intellectuelle qui s'y rapportent. Tout autre usage des Contenus est strictement interdit, sauf accord écrit préalable
            de CSL Bering SA. Il est notamment interdit de modifier, distribuer, transmettre, ré-adresser, diffuser, adapter, réutiliser ou utiliser les Contenus de l’Application pour un usage public ou commercial sans l'accord écrit préalable de CSL
            Behring SA. Toute utilisation non expressément autorisée par CSL Behring SA est interdite et constitue une violation du Code de la Propriété Intellectuelle.</p>

        <h3>6. règles D'UTILISATION DE L’APPLICATION</h3>
        <p>L'Application est utilisée sous les seuls responsabilités, contrôles et direction de l'Utilisateur. L'Utilisateur s'engage à s'assurer de l'adéquation de l'Application à ses besoins et à l'utiliser conformément à son objet.<br>
            L'Utilisateur est informé et reconnaît que :</p>
        <ul class="mention_liste">
            <li>toute information renseignée dans l'Application se fait sous son seul contrôle et que le résultat fourni par l'Application est purement indicatif et ne constitue en rien un diagnostic, ni un conseil médical;</li>
            <li>CSL Behring SA n'est aucunement responsable de la qualité, de l'actualité, de la complétude ou de la véracité des données saisies par l'Utilisateur;</li>
            <li>CSL Behring SA n'est en aucun cas en mesure d'apprécier l'état de santé de l'Utilisateur et le cas échéant de la situation dans laquelle il peut se trouver, l'Utilisateur demeurant seul responsable de toute décision prise ou action mise en
                œuvre à partir des informations saisies dans l'Application et des résultats produits;</li>
            <li>l'Application ne procède à aucun contrôle de cohérence ou de pertinence des données saisies par l'Utilisateur;</li>
            <li>il appartient à l'Utilisateur, avant toute décision ou action, de consulter les professionnels de santé compétents.</li>
        </ul>
        <p>L’Utilisateur s'interdit, lors de l’utilisation de l’Application d’entraver ou perturber le bon fonctionnement de l’Application, des serveurs ou des réseaux connectés à l’Application ou de modifier, adapter ou pirater l’Application ou modifier
            une application ou un site tiers de manière à engendrer une confusion quant au lien avec l’Application.</p>
        <p>L'Utilisateur est conscient des contraintes et limites des réseaux internet mobile et de télécommunication et s'engage en conséquence à :</p>
        <ul class="mention_liste">
            <li>protéger son équipement mobile contre toute forme de virus, tentative d'intrusion, d'accès et/ou utilisation non autorisé(s) par des tiers;</li>
            <li>veiller aux conditions d'installation, d'exploitation et de maintenance de son équipement mobiles nécessaires au bon fonctionnement de l'Application.</li>
        </ul>

        <h3>7. NATURE DES INFORMATIONS DISPONIBLES DANS l'APPLICATION</h3>
        <p>L'Application peut contenir des informations médicales ou de santé publique qui sont exclusivement destinées à l'information générale de l'Utilisateur. Ces informations ne sauraient en aucun cas remplacer l'avis d'un médecin ou de tout autre spécialiste
            de la santé. Les informations contenues dans l’Application le sont à titre purement indicatif et ne sont pas individualisées en fonction de l'Utilisateur. Ces informations ne constituent en aucun cas un conseil médical et ne doivent pas être
            utilisées pour établir un diagnostic ou déterminer un traitement. Il est même recommandé aux Utilisateurs d’avoir un avis médical et de consulter un médecin quel que soit l'information trouvée dans l’Application.</p>

        <h3>8. GARANTIE ET responsabilité</h3>
        <p>L’Application n'émane pas d’un organisme officiel de santé. CSL Behring SA s'efforcera de présenter dans l’Application des informations précises, fiables et régulièrement mises à jour mais ne fournit aucune garantie quant à leur exactitude, leur
            exhaustivité et leur mise à jour. CSL Behring SA ne pourra donc être tenu responsable de quelque erreur ou omission que ce soit affectant le contenu de l’Application.</p>
        <p>L'Utilisateur reconnaît que le bon fonctionnement de l'Application est conditionné par les conditions de couverture, saturation et disponibilité du réseau téléphonique utilisé.</p>
        <p>CSL Behring SA exclut toute garantie et responsabilité concernant l’accessibilité, le mauvais fonctionnement et la disponibilité en continu de l’Application ainsi que des conséquences en découlant et qui seraient imputables au réseau.</p>
        <p>De manière générale, CSL Behring SA ne garantit pas que les fonctionnalités de l'Application satisferont les besoins de l'Utilisateur, que l'Application fonctionnera en association avec d'autres applications, logiciels ou matériels.</p>
        <p>L'accès à l’Application, à son contenu et l'utilisation des informations présentées dans l’Application s'effectuent aux seuls risques de l'Utilisateur et sous son entière responsabilité.</p>
        <p>CSL Behring SA ne pourra être tenue pour responsable de tout dommage direct ou indirect quels qu'ils soient, résultant de l’utilisation de l’Application par un Utilisateur à quel titre que ce soit et en quelques circonstances que ce soit ou de
            l'impossibilité d'utiliser les Contenus de cette Application. Cette limitation de responsabilité concerne tout type de dommages directs ou indirects, y compris notamment les pertes d’exploitation, pertes de chiffre d’affaires, pertes de commandes,
            manques à gagner, pertes de données ou autres informations, pertes de clientèle, pertes d’économies escomptées, atteinte à l’image et à la notoriété, perte de chance. L'Utilisateur est seul responsable de son utilisation des Contenus ou de
            l'Application, de leur communication à des tiers ou du non-respect d'une des présentes Conditions Générales d'Utilisation. Il s'engage à faire son affaire personnelle de toute réclamation et/ou procédure formée contre CSL Behring SA et qui
            résulterait de son utilisation de l'Application.</p>

        <h3>9. LIENS</h3>
        <p>L’Utilisateur qui souhaiterait établir, sous sa seule et entière responsabilité, un lien simple renvoyant directement à l’Application dans les « stores » commercialisant les applications pour smartphones et tablettes doit en demander préalablement
            l’autorisation écrite à CSL Behring SA - Tour Cristal 7/11 Quai André Citroën – 75015 PARIS. A défaut, la mise en place de tels liens est formellement interdite. Tous les liens renvoyant vers l’Application devront être retirés immédiatement
            sur simple demande de CSL Behring SA.</p>
        <p>Des liens vers des sites tiers peuvent être mis en place dans l’Application. Tous les liens insérés le sont en tant que liens non sponsorisés. Les Utilisateurs sont libres d’activer ou non ces liens sous leur unique et entière responsabilité,
            étant précisé que CSL Behring SA n’est ni garant, ni responsable des sites tiers vers lesquels dirigent les liens, ni de leur contenu, et n'est en aucun cas responsable des dommages (directs ou indirects) pouvant résulter de l'accès et de
            la consultation des sites tiers accédés à partir de ces liens, dans la mesure où CSL Behring SA ne peut contrôler ces sites tiers ou sources externes auxquels ces liens renvoient. Ces sites sont régis par leurs propres conditions d’utilisation
            et charte de protection des données personnelles que CSL Behring SA vous recommande de lire avant de les consulter.</p>


        <h3>10. PROTECTION DES données à CARACTERE PERSONNEL</h3>
        <p>L'accès à l’Application et son utilisation ne donnent lieu, de la part de CSL Behring SA, à aucune collecte ni aucun traitement de données à caractère personnel relatives à l’Utilisateur ou à toute autre personne dont les données seraient renseignées
            au sein de l'Application. CSL Behring SA ne réalise aucune mesure d’audience ni aucun suivi du parcours de navigation des Utilisateurs. Seules les statistiques de mesure d'audience effectuées par les magasins d'applications pourront être analysées. L’Application n'accède à aucune donnée concernant le terminal de l’Utilisateur, ni aux autres données présentes
            dans le terminal ou dans les applications existantes (carnet d'adresse, rappels, horloge, photos, etc.).</p>
        <p>L'Utilisateur est seul responsable des données à caractère personnel le concernant et/ou relatives à un tiers (par exemple un membre de sa famille) qu'il serait amené à renseigner au sein de l'Application. L’Utilisateur s'engage à utiliser l’Application
            dans le respect du secret médical, de la vie privée et des droits et libertés fondamentales de toute personne concernée et conformément à toute réglementation applicable en matière de traitements de données personnelles.</p>

        <p><strong>Sécurisation de l'application.</strong></p>
        <p>Les données saisies dans l’Application sont hébergées localement, sur le terminal de l’Utilisateur. CSL Behring SA invite l’Utilisateur à la plus grande vigilance concernant l’accès à l'Application ou à son équipement mobile par des tiers non autorisés. L’Utilisateur est invité à mettre en place les mesures de sécurité adéquates pour protéger les données saisies dans l’Application contre tout accès illégitime (par exemple l’utilisation d’un code secret pour le déverrouillage de son appareil ou pour l'accès à l'Application). L'Utilisateur a la possibilité de sécuriser l'accès à l'Application au moyen d'un code à 4 chiffres. L'Application sera réinitialisée et les données relatives à l'Utilisateur seront supprimées après 3 saisies erronées. CSL Behring SA ne pourra pas être tenue responsable en cas d'oubli du code d'accès, de saisie erronée ou de la perte des données qui pourrait en résulter.<br>
            Le code secret est conservé localement dans l'Application et CSL Behring SA n'y a pas accès, sauf à la demande de l'Utilisateur et dans les conditions prévues ci-après.<br>
            CSL Behring SA ne pourra en aucun cas être tenue responsable de l'accès par un tiers.</p>
        <p><strong>Récupération du code d'accès</strong></p>
        <p>L'Utilisateur a la possibilité de demander la récupération de son code d'accès à l'Application par email. La saisie de l'adresse email de l'Utilisateur dans l'Application est facultative et ne conditionne pas l'accès à l'Application ou son utilisation. En cas de récupération du code d'accès par email, l'Utilisateur sera invité à modifier son code d'accès à la connexion suivante.</p>

        <p><strong>Traitement des données relatives à l'Utilisateur en cas de récupération du code d'accès</strong></p>
        <p>Les données relatives à l'Utilisateur (adresse email et code d'accès, à l'exclusion de toute autre donnée) sont traitées par CSL Behring SA ou l'agence agissant pour son compte pour la gestion de l'Application, sur la base du consentement préalable de l'Utilisateur.<br>
Les données sont exclusivement traitées sous forme chiffrée (c'est-à-dire sous une forme codée), aux fins de permettre à l'Utilisateur de récupérer son code d'accès. Elles sont automatiquement supprimées après envoi du code à l'Utillisateur.<br>
L'Utilisateur peut, à tout moment, retirer son consentement au traitement de ses données sans que ce retrait ne porte atteinte à la licéité du traitement effectué avant ce retrait. Pour cela, l'Utilisateur doit simplement supprimer son adresse email de l'Application. L'Utilisateur peut, à tout moment, modifier ou effacer son code d'accès et/ou son adresse email directement dans l'Application. L'Utilisateur dispose également d'un droit à la portabilité de ses données, à la limitation du traitement ainsi que du droit de définir des directives relatives au sort de ses données après son décès.<br>
    En-dehors de tout process de récupération du code d'accès, les données relatives à l'Utilisateur sont consérvées localement dans l'Application et ne font l'objet d'aucun traitement par CSL Behring SA.</p>
    
        <p>Pour toute information complémentaire relative à la protection des données personnelles, l’Utilisateur peut contacter le Référent CNIL de CSL Behring SA : dataprotection@cslbehring.com ou Tour Cristal - 7-11 quai André Citroën 75015 Paris.</p>
        <p>Pour toute information relative au aux traitements de données mis en oeuvre par les magasins d’applications, l’Utilisateur est invité à consulter la politique de protection des données proposée par le responsable de traitement concerné (par exemple <a
                href="#" @click.prevent="urlopen('https://www.apple.com/fr/privacy/');">Apple</a> ou
            <a href="#" @click.prevent="urlopen('https://www.google.com/intl/fr/policies/privacy/')">Google</a>).</p>
        <p>L'Utilisateur dispose du droit d'introduire une réclamation auprès de la CNIL : <a href="#"
                                                                                              @click.prevent="urlopen('www.cnil.fr.');">www.cnil.fr</a></p>



        <h3>11. DISPOSITIONS générales</h3>
        <p>Si l'une des dispositions des présentes conditions d'utilisation s'avérait illégale, nulle ou inopposable pour quelque raison que ce soit, cette disposition sera considérée comme indépendante des autres dispositions des présentes et sa nullité,
            son caractère illégal ou son inopposabilité n'affectera en rien la validité et l'opposabilité des dispositions restantes.</p>
        <p>Le fait pour CSL Behring SA ou pour l'Utilisateur de ne pas se prévaloir d’un manquement par CSL Behring SA ou l'Utilisateur à l’une de ses obligations ne saurait être interprété comme une renonciation à un droit que CSL Behring SA ou l'Utilisateur
            tiendrait en vertu des présentes.</p>
        <p>Les présentes Conditions Générales d’Utilisation sont soumises à la loi française. En cas de litige, les parties tenteront de trouver une solution amiable. A défaut, le litige sera soumis aux tribunaux compétents.</p>
        <p>La déclaration des effets indésirables suspectés après autorisation du médicament est importante. Elle permet une surveillance continue du rapport bénéfice/risque du médicament. Les professionnels de santé doivent déclarer tout effet indésirable
            suspecté via le système national de déclaration : Agence nationale de sécurité du médicament et des produits de santé (ANSM) et réseau des Centres Régionaux de Pharmacovigilance - Site internet : <a
                    href="#" @click.prevent="urlopen('http://www.ansm.sante.fr');">www.ansm.sante.fr</a></p>
        <p>Les patients peuvent également signaler tout événement indésirable sur le site internet de l’ANSM.</p>
        <p>Toutes les informations mises en ligne font l’objet d’une validation interne par les Directions des Affaires Médicales et Réglementaires. Cette Application porte le numéro de référence suivant : </p>
        <p>FR/COAG/17-0007a – Janvier 2018</p>
        <p>Date de mise à jour : Janvier 2018</p>
    </f7-block>
</f7-page>
</template>

<script>
    import bus         from "../../../main.js";
    import moment      from "moment";
    import momentrecur from "moment-recur";

    export default {
      beforeMount : function() {
        bus.$emit("closemenu", 1);
      },
      mounted : function() {
        bus.is_index = false;
      },
      data : function() {
        return {
          ntfs : ""
        };
      },
      methods : {
        urlopen : function(url) {
          cordova.InAppBrowser.open(url, "_system");
          return false;
        },
        displayNotifications : function() {
          var me = this;
          var retour = "====================================" + "\r\n";
          cordova.plugins.notification.local.getScheduled(function(notifications) {
            var i = 0;
            _.map(notifications, function(n) {
              if(n.trigger && n.trigger.at) {
                var t = moment(n.trigger.at * 1000).format();
                retour += ++i + ":" + (n.text + ":" + t) + "\r\n";
              }
              else {
                retour += ++i + ":" + JSON.stringify(n) + "\r\n";
              }
            });
            retour += "====================================" + "\r\n";
            me.ntfs = retour;
          });
          me.ntfs = "Récupération";
        }
      }
    };
</script>
