<template>
    <f7-page id="calendrier" name="calendrier">

        <f7-navbar class="noback">
            <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"></f7-link>
            </f7-nav-left>
        </f7-navbar>

        <datepicker :inline="true" language="fr" :monday-first="true" :highlighted="state.highlighted"
                    v-on:changedYear="datepickerChangeYearFunction"
                    v-on:changedMonth="datepickerChangeMonthFunction"></datepicker>

        <!-- <f7-block class="nomarge" v-if="injections.length>0"> -->
        <f7-block class="nomarge">
            <f7-list id="blockalertes">
                <li class="swipeout alertes injections" v-for="(item, index) in injections" :key="item.index"
                    @swipeout:open="select" @swipeout:closed="unselect" :id="item.id">
                    <div class="swipeout-content">
                        <f7-grid>
                            <f7-col width="25">
                                <p class="time">{{item.time}}</p>
                                <p class="date">{{item.date | formatdate}}</p>
                            </f7-col>
                            <f7-col width="55">
                                <p class="textalert">{{item.label}}<small v-if="item.produit!=='NA'">{{item.produit}} &bull; {{item.lot}}</small></p>
                            </f7-col>
                            <f7-col width="20">
                                <input type="checkbox" disabled class="check" v-model="item.done">
                            </f7-col>
                        </f7-grid>
                    </div>
                    <f7-swipeout-actions>
                        <f7-swipeout-button color="red" @click="deleteMe">Effacer</f7-swipeout-button>
                    </f7-swipeout-actions>
                </li>
            </f7-list>
        </f7-block>
        <!-- <f7-block class="nomarge empty" v-else>
            <f7-list id="blockalertes">
                <f7-list-item class="alertes injections" v-for="o in 10" :key="o.index">
                    <f7-grid>
                        <f7-col width="25">
                            <p class="time">&nbsp;</p>
                            <p class="date">&nbsp;</p>
                        </f7-col>
                        <f7-col width="55">
                            <p class="textalert">&nbsp;<br>
                                <small>&nbsp; &bull; &nbsp;</small>
                            </p>
                        </f7-col>
                        <f7-col width="20">
                            <input type="checkbox" disabled class="check">
                        </f7-col>
                    </f7-grid>
                </f7-list-item>
            </f7-list>
        </f7-block> -->

    </f7-page>
</template>

<script>
    import bus            from "../../../../main.js";
    import moment         from "moment";

    export default {
      data : function() {
        return {
          swoid : null,
          injections : this.getInjectionsForSelectedMonth(moment().month(), moment().year()),
          month : moment().month(),
          year : moment().year(),
          state : {
            from : new Date(2017, 0, 1),
            to : new Date(2027, 0, 1),
            highlighted : {
              dates : this.getDatesOfInjectionForTheMonth(moment().month(), moment().year())
            }
          }
        };
      },
      watch : {
        month : function(v) {
          this.state.highlighted.dates = this.getDatesOfInjectionForTheMonth(v, this.year);
          this.injections = this.getInjectionsForSelectedMonth(v, this.year);
        },
        year : function(v) {
          this.state.highlighted.dates = this.getDatesOfInjectionForTheMonth(this.month, v);
          this.injections = this.getInjectionsForSelectedMonth(this.month, v);
        }
      },
      beforeMount : function() {
        bus.$emit("closemenu", 1);
      },
      mounted : function() {
        var year  = moment().year(),
            month = moment().month();
        var me = this;
        bus.is_index = false;
        window.f7.showIndicator();
        this.month = moment().month();
        _.delay(function() {
          window.f7.hideIndicator();
        }, 1000);

      },
      methods : {
        getInjectionsForSelectedMonth : function(m, y) {
          m = m + 1;
          var injections = _.clone(bus.injections);
          var thed = moment("" + y + "-" + (m > 10 ? m : "0" + m) + "-01", "YYYY-MM-DD").format("YYYYMM");
          injections = _.filter(injections, function(o) {
            return moment(o.date, "YYYY-MM-DD").format("YYYYMM") === thed;
          });
          return injections;
        },
        datepickerChangeMonthFunction : function(e) {
          this.month = moment(e.timestamp).month();
        },
        datepickerChangeYearFunction : function(e) {
          this.year = moment(e.timestamp).year();
        },
        getDatesOfInjectionForTheMonth : function(month, year) {
          var injections = this.getInjectionsForSelectedMonth(month, year);
          return _.map(injections, function(o) {
            return moment(o.date, "YYYY-MM-DD").toDate();
          });
        },
        select : function(id) {
          this.swoid = id.target;
        },
        unselect : function(id) {
          this.swoid = null;
        },
        deleteMe : function(e) {
          var swoid = this.swoid;
          window.f7.modal({
            title : "HémoJ",
            text : "Etes-vous sûr(e) de vouloir effacer cette injection ?",
            buttons : [{
              text : "Oui",
              bold : false,
              close : true,
              onClick : function() {
                window.f7.showIndicator();
                console.log("SWOID", swoid);
                console.log("SWOID ID", swoid.getAttribute("id"));
                bus.deleteInjection(swoid.getAttribute("id"), function() {
                  window.f7.hideIndicator();
                  window.f7.swipeoutDelete(swoid);
                }, function() {
                  window.f7.alert("Impossible de supprimer cette injection");
                  window.f7.hideIndicator();
                  window.f7.swipeoutClose(swoid);
                });
              }
            },
              {
                text : "Je la garde",
                bold : true,
                close : true,
                onClick : function() {
                  window.f7.swipeoutClose(swoid);
                }
              }]
          });

        },
      }
    };
</script>