<template>
    <f7-block class="nomargetop alerteswrapper">
        <!-- <f7-list id="blockalertes" v-if="alertesdujour.length>0"> -->
        <f7-list id="blockalertes">
            <f7-list-item class="alertes" v-for="(item, index) in alertesdujour" :key="item.id"
                          @click.prevent="openInjection(item)">
                <f7-grid v-if="!item.done">
                    <f7-col width="25">
                        <p class="time">{{item.time}}</p>
                        <p class="date">{{ item.date | formatdate }}</p>
                    </f7-col>
                    <f7-col width="55">
                        <p class="textalert">{{item.label}}</p>
                    </f7-col>
                    <f7-col width="20">
                        <div>
                            <input type="checkbox" disabled class="check" v-model="item.done" @click.prevent="openInjection(item)">
                        </div>
                    </f7-col>
                </f7-grid>
                <f7-grid v-else>
                    <f7-col width="25">
                        <p class="time">{{item.time}}</p>
                        <p class="date">{{item.date | formatdate}}</p>
                    </f7-col>
                    <f7-col width="55">
                        <p class="textalert">{{item.label}}
                            <span v-if="item.produit!=='NA'"> : {{item.produit}}</span>
                        </p>
                    </f7-col>
                    <f7-col width="20">
                        <div>
                            <input type="checkbox" disabled class="check" v-model="item.done">
                        </div>
                    </f7-col>
                </f7-grid>

            </f7-list-item>
        </f7-list>
        <f7-block v-show="!ajouter" class="fixedBottom">
            <f7-button id="addAlert" href="/alerte"> + </f7-button>
            <p id="p_alert">Ajouter une alerte</p>
        </f7-block>
    </f7-block>
</template>

<script>
    import bus    from "../../../main.js";
    import moment from "moment";

    export default {
      props : ["nombre",
               "ajouter"],
      datas : function() {
        return {
          injection : null,
          bus : bus
        };
      },
      computed : {
        alertesdujour : function() {
          function injectionDansLesTemps(injct) {
            var ah = new Date(injct.date + " " + injct.time);
            var nombre_heures = 2;
            var interval = nombre_heures * 1000 * 60 * 60;
            return (Math.abs(moment().valueOf() - moment(ah).valueOf()) < interval);
          }

          var alertes = _.sortBy(_.filter(bus.alertes, function(a) {
            return a.status !== false;
          }), [function(a) {
            return a.recurrence.startdate;
          }]);

          var injections = [];

          _.each(alertes, function(e, i) {
            var startdate = moment(e.recurrence.startdate, "YYYY-MM-DD");
            var recurrence;
            if(startdate.isBefore()) {
              recurrence = startdate.recur().fromDate(moment().add(-1, "d"))
                .every(e.recurrence.times, e.recurrence.kind);
            }
            else {
              recurrence = startdate.recur().every(e.recurrence.times, e.recurrence.kind);
            }
            var alldates = recurrence.next(1, "L");
            _.each(alldates, function(ee) {
              var nijct = {
                date : ee,
                time : e.time,
                label : e.label,
                alertid : e.id,
                produit : "",
                lot : "",
                done : false,
                late : false,
                show : true,
                id : e.id + "-" + ee
              };
              var aeinjct = _.find(bus.injections, function(eee) {
                return nijct.id === eee.id;
              });

              if(!aeinjct) {
                if(injectionDansLesTemps(nijct)) {
                  injections.push(nijct);
                }
              }
              else {
                if(injectionDansLesTemps(aeinjct)) {
                  injections.push(aeinjct);
                }
              }
            });
          });
          return _.orderBy(injections, ["date",
                                        "time"], ["asc",
                                                  "asc"]);
        }
      },
      methods : {
        openInjection : function(injection) {
          if(!injection.done) {
            window.Dom7("#mypopupinjection").attr("item", JSON.stringify(injection));
            bus.injection = injection;
            window.f7.popup("#mypopupinjection");
          }
        },
      }
    };

</script>