<template>
    <a href="/avatar" id="avatar"><img :src="imageofme" alt="avatar"/></a>
</template>
<script>
import bus from "../../../main.js"
export default {
    computed: {
        imageofme: function() {
            return bus.loadAvatar();
        }
    }
}
</script>
<style lang="sass">
</style>
