<template>
        <f7-popup id="mypopupcodedesactiver" class="codepopups">
            <div class="popupdedebut popup2">
                <f7-link id="closepopupcodedesactiver" icon="icon-times" @click.prevent="closeMeCodeDesactiver"
                         style="z-index:9999"></f7-link>
                <f7-block class="lelogo">
                    <img class="popup-logo" src="../../images/cadenas.png" alt="cadenas">
                </f7-block>
<form action="#">
                <f7-block class="popup2-form" style="margin-bottom: 10px;">
                    <f7-block class="formwrapper">
                        <div class="item-content">
                            <div class="item-inner popupform">
                                <div class="item-title label">{{ codeinfos }}</div>
                                <div class="item-input">
                                    <input type="password" inputmode="verbatim" spellcheck="false" autocomplete="new-password" autofocus="true" placeholder="Code d'accès" class="popupform f_code"
                                           v-model="code">
                                </div>
                            </div>
                        </div>
                    </f7-block>
                </f7-block>

                <f7-button type="submit" style="margin:0 auto;margin-bottom:100px;border:0;padding:0;height:auto;width:90%;white-space:normal" @click.prevent="closeDesactiverEmail">Cliquer pour effacer l'email de récupération</f7-button>

                <input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeNouvelleInjection">
                <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeEnvoyerCodeDesactiver">
                    Désactiver
                </f7-button>
</form>

            </div>
        </f7-popup>
</template>

<script>
  import bus    from "../../../main.js";

  export default {
    data : function() {
      return {
        code : "",
        codeinfos : "Désactiver le code",
        bus : bus
      };
    },
    methods : {
      closeMeCodeDesactiver : function() {
        window.f7.closeModal("#mypopupcodedesactiver");
      },
      closeEnvoyerCodeDesactiver : function() {
        var me = this;

        if(!bus.isCodeOk(me.code)) {
          me.codeinfos = "Merci de rentrer votre code d'accès !";
          document.querySelector(".f_code").focus();
        }
        else {
          me.codeinfos = "Désactiver votre code";
          me.code = "";
          bus.deleteCode();
          window.f7.closeModal("#mypopupcodedesactiver");
          window.f7.mainView.router.reloadPage("/accueil");
        }
      },
      closeDesactiverEmail : function() {
        var me = this;
        bus.removeEmailForCode();
        window.f7.closeModal("#mypopupcodedesactiver");
        window.f7.mainView.router.reloadPage("/accueil");
      }
    }
  };
</script>
