<template>
    <f7-popup id="mypopupcode" class="codepopups">
        <div class="popupdedebut popup2">
            <f7-block class="lelogo">
                <img class="popup-logo" src="../../images/cadenas.png" alt="cadenas">
            </f7-block>
<form action="#">
            <f7-block class="popup2-form">
                <f7-block class="formwrapper">
                    <div class="item-content">
                        <div class="item-inner popupform">
                            <div class="item-title label">{{ codeinfos }}</div>
                            <div class="item-input">
                                <input type="password" inputmode="verbatim" spellcheck="false" autocomplete="new-password" autofocus="true" placeholder="Code d'accès" class="popupform f_code"
                                       v-model="code">
                            </div>
                            <div class="sub-input" v-if="bus.codeEmailExist === true"><a href="#" data-popup="#mypopuploosecode"
                                                      :class="[ codeerror ? 'error open-popup' : 'open-popup' ]">Code
                                oublié ?</a>
                            </div>
                        </div>
                    </div>
                </f7-block>
            </f7-block>
<input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeNouvelleInjection">
            <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeEnvoyerCode">
                Envoyer
            </f7-button>
</form>
        </div>
    </f7-popup>
</template>

<script>
  import bus    from "../../../main.js";

  export default {
    data : function() {
      return {
        code : "",
        codeerror : false,
        codeinfos : "Taper votre code",
        bus : bus
      };
    },
    methods : {
      emailexist:function(){
        return bus.codeEmailExist();
      },
      closeEnvoyerCode : function() {
        var me = this;
        if(bus.isCodeOk(me.code)) {
          bus.resetCodeTryout();
          if(bus.isTemporaryCode()){
            window.f7.closeModal("#mypopupcode");
            window.f7.popup('#mypopupcodemodifier')
          }else{
            window.f7.mainView.router.reloadPage("/accueil");
            window.f7.closeModal("#mypopupcode");
          }
        }
        else {
          if(!bus.needResetBecauseOfCode()){
            me.code = "";
            me.codeerror = true;
            me.codeinfos = bus.getCodeEnterLeft();
            document.querySelector(".f_code").focus();
          }else{
            window.f7.closeModal("#mypopupcode");
            bus.resetApp();
            window.f7.mainView.router.reloadPage("/accueil");
          }
        }
      }
    }
  };
</script>
