<template>
    <f7-popup id="mypopupinjection">
        <div class="popupdedebut popup2"><form action="#">
            <f7-link id="closepopup" icon="icon-times" @click.prevent="closeMe" style="z-index:9999"></f7-link>
            <f7-block class="lelogo">
                <img class="popup-logo" src="../../images/popup2.png" alt="HEMOJ">
            </f7-block>

            <f7-block class="popup2-form">
                <p class="alerte-infos" v-if="null !== bus.injection">{{ bus.injection.label }}<br>du&nbsp;{{ bus.injection.date | formatdate }} à&nbsp;{{ bus.injection.time }}</p>
                <h2 class="txtheure txtpopup">Nous vous recommandons de noter&nbsp;:</h2>
                <f7-block class="formwrapper">
                    <div class="item-content">
                        <div class="item-inner popupform">
                            <div class="item-input">
                                <input type="text" placeholder="NOM DU PRODUIT" class="popupform f_produit" v-model="produit">
                                <input type="text" placeholder="NUMÉRO LOT" class="popupform f_lot" v-model="lot">
                            </div>
                        </div>
                    </div>
                </f7-block>
            </f7-block>
            <input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeNouvelleInjection">
            <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeNouvelleInjection">
                Enregistrer
            </f7-button>
        </form>
        </div>
    </f7-popup>
</template>

<script>
    import bus from "../../../main.js"
    
    export default {
        data: function() {
            return {
                produit: "",
                lot: "",
                bus: bus
            }
        },
        methods: {
            closeMe: function() {
                window.f7.closeModal("#mypopupinjection");
            },
            closeNouvelleInjection: function() {
                var me = this;
                if ((me.produit + me.lot).length > 0) {
                    window.f7.modal({
                        title: "HémoJ",
                        text: "Confirmez-vous les informations " + me.produit + " " + me.lot + " ?",
                        buttons: [{
                            text: "Oui",
                            bold: false,
                            close: true,
                            onClick: function() {
                                bus.saveInjectionDatas(me.produit, me.lot, function() {
                                    me.produit = "";
                                    me.lot = "";
                                    window.f7.mainView.router.reloadPage("/accueil");
                                    window.f7.closeModal("#mypopupinjection");
                                });
                                return false;
                            }
                        }, {
                            text: "Corriger",
                            bold: true,
                            close: true
                        }]
                    })
                } else {
                    bus.saveInjectionDatas("NA", "NA", function() {
                        me.produit = "";
                        me.lot = "";
                        window.f7.mainView.router.reloadPage("/accueil");
                        window.f7.closeModal("#mypopupinjection");
                    });
                }
            }
        }
    }
</script>