<template>
        <f7-popup id="mypopupcodeentrer" class="codepopups">
            <div class="popupdedebut popup2">
                <f7-link id="closepopupcodeentrer" icon="icon-times" @click.prevent="closeMeCodeEntrer"
                         style="z-index:9999"></f7-link>
                <f7-block class="lelogo">
                    <img class="popup-logo" src="../../images/cadenas.png" alt="cadenas">
                </f7-block>
<form action="#">
                <f7-block class="popup2-form">
                    <f7-block class="formwrapper">
                        <div class="item-content">
                            <div class="item-inner popupform">
                                <div class="item-title label">{{ codeinfos }}</div>
                                <div class="item-input">
                                    <input type="password" inputmode="verbatim" spellcheck="false" autocomplete="new-password" autofocus="true" placeholder="Code d'accès" class="popupform f_codeentrer1"
                                           v-model="codeentrer">
                                </div>
                                <div class="item-input">
                                    <input type="password" inputmode="verbatim" spellcheck="false" autocomplete="new-password" placeholder="Confirmer votre code d'accès"
                                           class="popupform f_codeentrer2"
                                           v-model="codeconfirmation">
                                </div>
                                <div class="item-input">
                                    <input type="email" placeholder="Email de récupération (optionnel)" class="popupform f_codeemail"
                                           v-model="codeemail">
                                </div>
                                <p style="text-align:center;width:90%;margin:1em auto 0.5em auto;"><a href="/donneespersonnelles" @click="closeMeCodeEntrer">Comment mes données sont-elles traitées&nbsp;?</a></p>
                            </div>
                        </div>
                    </f7-block>
                </f7-block>
                <input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeEnvoyerCodeEntrer">
                <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeEnvoyerCodeEntrer">
                    Envoyer
                </f7-button>
</form>
            </div>
        </f7-popup>
</template>

<script>
  import bus    from "../../../main.js";

  export default {
    data : function() {
      return {
        codeentrer : "",
        codeconfirmation : "",
        codeemail : "",
        codeerror : false,
        codeinfos : "Vous avez la possibilité de sécuriser l'accès à vos données par un code.",
        bus : bus
      };
    },
    methods : {
      closeMeCodeEntrer : function() {
        window.f7.closeModal("#mypopupcodeentrer");
      },
      closeEnvoyerCodeEntrer : function() {
        var me = this;

        if(me.codeentrer.length < 4) {
          me.codeinfos = "Merci de rentrer un code d'au moins quatre caractères !";
          document.querySelector(".f_codeentrer").focus();
        }
        else if(me.codeentrer !== me.codeconfirmation) {
          me.codeinfos = "Codes différents, veuillez reéssayer !";
          document.querySelector(".f_codeconfirmation").focus();
        }
        // else if(!(me.codeemail.indexOf("@") > 0 && me.codeemail.indexOf(".") > 0)) {
        //   me.codeinfos = "Merci de rentrer votre adresse email pour la récupération de votre code !";
        //   document.querySelector(".f_codeemail").focus();
        // }
        else {
          me.codeinfos = "Entrer votre code";
          bus.saveCode({
            code : me.codeentrer,
            email : me.codeemail,
            date : new Date()
          });
          window.f7.closeModal("#mypopupcodeentrer");
          window.f7.mainView.router.reloadPage("/accueil");
        }
      }
    }
  };
</script>
