<template>
    <div>
        <f7-popup id="mypopuploosecode" class="codepopups">
            <div class="popupdedebut popup2">
                <f7-link id="" icon="icon-times" @click.prevent="closeLooseCode"
                         style="z-index:9999"></f7-link>
                <f7-block class="lelogo">
                    <img class="popup-logo" src="../../images/cadenas.png" alt="cadenas">
                </f7-block>
<form action="#">
                <f7-block class="popup2-form">
                    <f7-block class="formwrapper">
                        <div class="item-content">
                            <div class="item-inner popupform">
                                <div class="item-title label">
                                    Vous avez oublié votre code. Il va vous être envoyé à votre adresse email renseignée lors de la création de ce code.
                                </div>
                            </div>
                        </div>
                    </f7-block>
                </f7-block>
<input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeEnvoyerLooseCode">
                <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeEnvoyerLooseCode">
                    Envoyer
                </f7-button>
</form>
            </div>
        </f7-popup>
    </div>
</template>

<script>
  import bus from '../../../main.js'

  export default {
    data: function () {
      return {
        code: 'abc',
        codeerror: false,
        codeinfos: 'Taper votre code',
        bus: bus
      }
    },
    methods: {
      closeLooseCode:function(){
        window.f7.closeModal('#mypopuploosecode');
      },
      closeEnvoyerLooseCode: function () {
        var me = this
        if (bus.sendMyCode()) {
          window.f7.alert("Votre code vient de vous être envoyé.", "Hémoj");
          window.f7.closeModal('#mypopuploosecode')
        } else {
          window.f7.alert("Impossible de vous envoyer votre code.", "Hémoj");
          window.f7.closeModal('#mypopuploosecode')
        }
      }
    }
  }
</script>