<template>
    <f7-popup id="mypopupconditions">
        <!--<f7-view navbar-fixed>-->
        <!--<f7-pages>-->
        <!--<f7-page class="popupdedebut">-->
        <f7-block class="popupdedebut">
            <f7-block class="lelogo">
                <img class="popup-logo" src="../../images/hemoj-popup.png" alt="HEMOJ">
            </f7-block>

            <f7-block class="letexte">
                L'utilisation de l'application n'implique pas nécessairement le traitement de vos données personnelles par CSL Behring SA. Vos données seront conservées localement sur votre dispositif. Conformément à la directive « vie privée et communications électroniques », le stockage d’informations dans le terminal d’un utilisateur est soumis à son consentement préalable. En cliquant sur le bouton "J'accepte", vous consentez donc au stockage d’informations dans votre dispositif.
                Les informations sur l’application sont destinées à mieux informer les patients et en aucun cas à se substituer à la relation directe entre le patient et les professionnels de santé.
            </f7-block>

            <f7-button class="pclose" @click="closePopupConditions">J'accepte</f7-button>
        </f7-block>
        <!--</f7-page>-->
        <!--</f7-pages>-->
        <!--</f7-view>-->
    </f7-popup>
</template>
<script>

  export default {
    computed: {
      hasNotAcceptedConditions: function () {
        return (window.localStorage.getItem('nopopupatstart') !== "1")
      }
    },
    methods: {
      closePopupConditions: function () {
        window.localStorage.setItem('nopopupatstart', 1)
        window.f7.closeModal('#mypopupconditions');
      }
    }
  }

</script>