<template>
        <f7-popup id="mypopupcodeloosemodifier" class="codepopups">
            <div class="popupdedebut popup2">
                <f7-link id="closepopuploosemodifier" icon="icon-times" @click.prevent="closeMeLooseModifier"
                         style="z-index:9999"></f7-link>
                <f7-block class="lelogo">
                    <img class="popup-logo" src="../../images/cadenas.png" alt="cadenas">
                </f7-block>
<form action="#">
                <f7-block class="popup2-form">
                    <f7-block class="formwrapper">
                        <div class="item-content">
                            <div class="item-inner popupform">
                                <div class="item-title label">{{ codeinfos }}</div>
                                <div class="item-input">
                                    <input type="password" inputmode="verbatim" spellcheck="false"
                                           autocomplete="new-password" placeholder="Nouveau code d'accès"
                                           class="popupform f_codenouveau"
                                           v-model="codenouveau">
                                </div>
                                <div class="item-input">
                                    <input type="password" inputmode="verbatim" spellcheck="false"
                                           autocomplete="new-password" placeholder="Nouveau code d'accès (confirmation)"
                                           class="popupform f_codenouveauconfirmation"
                                           v-model="codenouveauconfirmation">
                                </div>
                                <div class="item-input">
                                    <input type="email" inputmode="email" autocomplete="email" spellcheck="false"
                                           placeholder="Email de récupération (optionnel)" class="popupform f_codeemail"
                                           v-model="codeemail">
                                </div>
                                <p style="text-align:center;width:90%;margin:1em auto 0.5em auto;"><a
                                        href="/donneespersonnelles" @click="closeMeLooseModifier">Comment mes données sont-elles traitées ?</a></p>
                            </div>
                        </div>
                    </f7-block>
                </f7-block>
<input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="closeNouvelleInjection">
                <f7-button type="submit" class="pclose btnpopup2" @click.prevent="closeEnvoyerLooseModifierCode">
                    Enregistrer
                </f7-button>
</form>
            </div>
        </f7-popup>
</template>

<script>
  import bus from "../../../main.js";

  export default {
    data : function() {
      return {
        codeancien : "",
        codenouveau : "",
        codenouveauconfirmation : "",
        codeemail : bus.resetEmail,
        codeerror : false,
        codeinfos : "Modifier votre code",
        bus : bus
      };
    },
    methods : {
      closeMeLooseModifier : function() {
        window.f7.closeModal("#mypopupcodeloosemodifier");
      },
      closeEnvoyerLooseModifierCode : function() {
        var me = this;

        if(me.codenouveau.length < 4) {
          me.codeinfos = "Merci de rentrer un code d'au moins quatre caractères !";
          document.querySelector(".f_codenouveau").focus();
        }
        else if(me.codenouveau !== me.codenouveauconfirmation) {
          me.codeinfos = "Codes différents, veuillez reéssayer !";
          document.querySelector(".f_codenouveauconfirmation").focus();
        }
        // else if(!(me.codeemail.indexOf("@") > 0 && me.codeemail.indexOf(".") > 0)) {
        //   me.codeinfos = "Merci de rentrer votre adresse email pour la récupération de votre code !";
        //   document.querySelector(".f_codeemail").focus();
        // }
        else {
          me.codeinfos = "Modifier votre code";
          bus.saveCode({
            code : me.codenouveau,
            email : me.codeemail,
            date : new Date()
          });
          me.codenouveau = "";
          me.codenouveauconfirmation = "";
          window.f7.closeModal("#mypopupcodeloosemodifier");
          window.f7.mainView.router.reloadPage("/accueil");
        }
      }

    }
  };
</script>
