<template>
    <f7-col :class="'valuecircle ' + index">
        <div class="chartcontainer" style="margin:0 auto;position:relative;">
            <canvas class="circle" :id="'path'+index"></canvas>
            <div class="value" :style="'color:'+couleur">{{ courant }}</div>
        </div>
        <div class="name">{{ nom }}</div>
    </f7-col>
</template>

<script>
    export default {
      props : ["courant",
               "nom",
               "index",
               "couleur"],
      datas : function() {
        return {
          donut : null
        };
      },
      mounted : function() {
        this.redraw();
      },
      methods : {
        redraw : function() {
          var me = this;
          _.delay(function() {
            me.donut = new Chart(document.querySelector("#path" + me.index), {
              "type" : "doughnut",
              "data" : {},
              "options" : {
                responsive : true,
                cutoutPercentage : 90,
                rotation : 135 / 180 * Math.PI,
                circumference : 2 * Math.PI - 0.5 * Math.PI,
                animation : {
                  animateRotate : true
                }
              }
            });
            me.donut.data.datasets = [{
              "data" : [me.courant,
                        100 - me.courant],
              "backgroundColor" : [me.couleur,
                                   "rgb(242,242,242)"]
            }];
            me.donut.update(0);
          }, 1000);
        }
      }
    };

</script>