<template>
    <f7-page name="edition-alerte">
        <f7-navbar>
            <f7-link id="closenouvelle" icon="icon-times" @click.prevent="goBack(true)" style="z-index:9999"></f7-link>
            <h1 class="title">Mon Alerte</h1>
        </f7-navbar>
        <form action="#">
        <div class="list-block form-alert">
            <ul id="form">
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Nom de l'alerte</div>
                            <div class="item-input">
                                <input type="text" required="required" placeholder="Définir" class="orangeinput a_label"
                                       v-model="a_label">
                            </div>
                        </div>
                    </div>
                </li>
                <li v-if="sounds && sounds.length>0">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Son</div>
                            <div class="item-input">
                                <select type="select" required="required" class="orangeinput" v-model="a_sound"
                                        @change="playMe()">
                                    <option v-for="(sound,index) in sounds" :value="sound.Url" :key="index">
                                        {{ sound.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li>-->
                    <!--<div class="item-content">-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title label">A partir de</div>-->
                            <!--<div class="item-input">-->
                                <!--<input type="text" readonly class="redinput"-->
                                       <!--v-model="a_date">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="item-content">-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title label">Tous les ?</div>-->
                            <!--<div class="item-input">-->
                                <!--<input type="text" readonly class="redinput"-->
                                       <!--v-model="a_recurrence">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="item-content">-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title label">Heure d'injection</div>-->
                            <!--<div class="item-input">-->
                                <!--<input type="text" readonly class="redinput" v-model="a_time">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <p style="margin-top:2em;text-align: center;font-size:22px;">Tous les {{ a_recurrence }} jour(s) à {{ a_time }}<br />depuis le {{ a_date }}</p>
        </div>
        <input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;" @click.prevent="updateAlert">
        <f7-button class="pclose submit withdelete" @click.prevent="updateAlert">
            Enregistrer les modifications
        </f7-button>
        <f7-button class="pclose delete" @click.prevent="askToDelete">Supprimer l'alerte</f7-button>
        </form>
    </f7-page>
</template>

<script>
  import bus    from "../../../../main.js";
  import moment from "moment";

  export default {
    props : ["alerteid"],
    data : function() {
      return {
        bus : bus,
        a_label : "",
        a_date : moment().format("DD-MM-YYYY"),
        a_time : "12:00",
        a_recurrence : 1,
        a_sound : -1,
        sounds : [],
        original : {}
      };
    },
    mounted : function() {
      var me = this;
      window.f7.showPreloader();

      try {
        bus.reloadSounds(function() {
          me.sounds = _.union([""], bus.$data.sounds);
          var alertes = _.clone(bus.alertes);
          var myalert = _.find(alertes, {
            "id" : "" + bus.alert_to_edit
          });
          if(myalert) {
            me.a_label = myalert.label;
            me.a_recurrence = myalert.recurrence.times;
            me.a_date = moment(myalert.recurrence.startdate, "YYYY-MM-DD").format("DD-MM-YYYY");
            me.a_time = myalert.time;
            me.a_sound = myalert.sound;
            window.f7.hidePreloader();
            me.original = myalert;
          }
          else {
            window.f7.hidePreloader();
            window.f7.alert("Erreur au chargement de l'alerte");
          }
        });
      }
      catch(Exception) {
        me.sounds = [];
        _.delay(function() {
          var alertes = _.clone(bus.alertes);
          var myalert = _.find(alertes, {
            "id" : "" + bus.alert_to_edit
          });
          if(myalert) {
            me.a_label = myalert.label;
            me.a_recurrence = myalert.recurrence.times;
            me.a_date = moment(myalert.recurrence.startdate, "YYYY-MM-DD").format("YYYY-MM-DD");
            me.a_time = myalert.time;
            me.a_sound = myalert.sound;
            window.f7.hidePreloader();
            me.original = _.clone(myalert);
            delete (me.original.id);
          }
          else {
            window.f7.hidePreloader();
            window.f7.alert("Erreur au chargement de l'alerte");
          }
        }, 500);
      }
      bus.is_index = false;
    },
    methods : {
      onF7Init : function(f) {
        var me = this;
        me.f = f;
      },
      getNewAlertFromForm : function() {
        var d = this.$data;
        var an_alert = {
          label : d.a_label,
          recurrence : {
            startdate : moment(d.a_date, "YYYY-MM-DD").format("YYYY-MM-DD"),
            times : d.a_recurrence,
            kind : "days"
          },
          time : d.a_time,
          sound : d.a_sound
        };
        return an_alert;
      },
      goBack : function(forced) {
        if(this.a_old_sound && this.a_old_sound.length > 0) {
          cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
        }
        if(forced) {
          window.f7.modal({
            title : "HémoJ",
            text : "Attention à bien sauvegarder vos modifications avant de fermer l'alerte.",
            buttons : [{
              text : "Fermer",
              bold : false,
              close : true,
              onClick : function() {
                window.f7.mainView.router.loadPage("/alertes");
                return true;
              }
            },
              {
                text : "Annuler",
                bold : true,
                close : true
              }]
          });
          return true;
        }
        else {
          var me = this;
          var modified = me.getNewAlertFromForm();
          delete (me.original.id);
          window.f7.modal({
            title : "HémoJ",
            text : "Attention à bien sauvegarder vos modifications avant de fermer l'alerte.",
            buttons : [{
              text : "Fermer",
              bold : false,
              close : true,
              onClick : function() {
                window.f7.mainView.router.loadPage("/alertes");
                return true;
              }
            },
              {
                text : "Annuler",
                bold : true,
                close : true
              }]
          });
        }
      },
      playMe : function() {
        if(this.a_old_sound && this.a_old_sound.length > 0) {
          cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
        }
        this.a_old_sound = this.a_sound;
        cordova.plugins.NativeRingtones.playRingtone(this.a_sound);
      },
      askToDelete : function() {
        window.f7.modal({
          title : "HémoJ",
          text : "Etes-vous sûr(e) de vouloir effacer cette alerte ?",
          buttons : [{
            text : "Oui",
            bold : false,
            close : true,
            onClick : function() {
              window.f7.showIndicator();
              bus.deleteAlert(bus.alert_to_edit, function() {
                window.f7.hideIndicator();
                window.f7.mainView.router.loadPage("/alertes");

              }, function() {
                window.f7.alert("Impossible de supprimer les alertes");
                window.f7.hideIndicator();
              });
            }
          },
            {
              text : "Je la garde",
              bold : true,
              close : true
            }]
        });
      },
      updateAlert : function() {
        window.f7.showIndicator();
        var r = bus.isUpdateAlertOk(this.$data);
        if(this.a_old_sound && this.a_old_sound.length > 0) {
          cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
        }
        if(r === true) {
          bus.updateAlert(bus.alert_to_edit, this.$data);
          window.f7.hideIndicator();
          window.f7.mainView.router.loadPage("/alertes");

          return true;
        }
        else {
          window.f7.hideIndicator();
          window.f7.alert(r.m, function() {
            document.querySelector("."+r.s).focus();
          });
          return false;
        }
      }
    }
  };
</script>
