<template>
    <f7-page name="liste-alertes">
        <f7-navbar>
            <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"></f7-link>
            </f7-nav-left>
            <h1 class="title">Alertes</h1>
        </f7-navbar>
        <f7-block center id="blockalertes2">
            <!-- <f7-list inset media-list v-if="alertes.length>0"> -->
            <f7-list inset media-list>
                <f7-list-item swipeout @swipeout:open="select" @swipeout:closed="unselect" :id="item.id"
                              :text="item.label" :title="item.time" v-for="(item,index) in alertes" :key="item.index"
                              @click="displayAlert(item.id)" :link="'/alerte/' + item.id + '?alertid=' + item.id"
                              :subtitle="'Tous les ' + (item.recurrence.times>1?item.recurrence.times:'') + ' jours<strong>' + showDate(item.recurrence.startdate) + '</strong>'">
                    <f7-swipeout-actions>
                        <f7-swipeout-button color="red" @click="deleteMe">Effacer</f7-swipeout-button>
                    </f7-swipeout-actions>
                </f7-list-item>
            </f7-list>
            <!-- <f7-list class="flistevide" inset media-list v-else>
                <f7-list-item title="<span>&nbsp;</span>" v-for="i in 10" :key="i.index" link="#" subtitle="<span>&nbsp;</span>" text="<span>&nbsp;</span>">
                </f7-list-item>
            </f7-list> -->
        </f7-block>
    </f7-page>
</template>

<script>
    import bus    from "../../../../main.js";
    import moment from "moment";

    export default {
      data : function() {
        return {
          swoid : null,
          alertes : this.getAlerts()
        };
      },
      beforeMount : function() {
        bus.$emit("closemenu", 1);
        bus.is_index = true;
      },
      methods : {
        getAlerts : function() {
          return _.sortBy(_.filter(bus.alertes, function(a) {
            return a.status !== false;
          }), [function(a) {
            return a.recurrence.startdate.valueOf();
          }]);
        },
        displayAlert : function(alertid) {
          bus.alert_to_edit = alertid;
        },
        select : function(id) {
          this.swoid = id.target;
        },
        unselect : function(id) {
          this.swoid = null;
        },
        deleteMe : function(e) {
          var me = this;
          var swoid = this.swoid;
          window.f7.modal({
            title : "HémoJ",
            text : "Etes-vous sûr(e) de vouloir effacer cette alerte ?",
            buttons : [{
              text : "Oui",
              bold : false,
              close : true,
              onClick : function() {
                window.f7.showIndicator();
                bus.deleteAlert(swoid.getAttribute("id"), function() {
                  window.f7.hideIndicator();
                  window.f7.swipeoutClose(swoid);
                  me.alertes = me.getAlerts();
                }, function() {
                  window.f7.alert("Impossible de supprimer les alertes");
                  window.f7.hideIndicator();
                  window.f7.swipeoutClose(swoid);
                });
              }
            },
              {
                text : "Je la garde",
                bold : true,
                close : true,
                onClick : function() {
                  window.f7.swipeoutClose(swoid);
                }
              }]
          });

        },
        showDate : function(d) {
          return moment(d, "YYYY-MM-DD").format("DD-MM-YYYY");
        }
      }
    };
</script>
