<template>
    <f7-page name="nouvelle-alerte">
        <f7-navbar>
            <f7-link id="closenouvelle" icon="icon-times" @click.prevent="goBack" style="z-index:9999"></f7-link>
            <h1 class="title">Alerte</h1>
        </f7-navbar>
        <form action="#">
        <div class="list-block form-alert">
            <ul id="form">
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Nom de l'alerte</div>
                            <div class="item-input">
                                <input type="text" required="required" placeholder="Définir" class="redinput a_label"
                                       v-model="a_label">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Date</div>
                            <div class="item-input">
                                <input type="date" required="required" placeholder="2017-11-01" class="orangeinput"
                                       v-model="a_date">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Récurrence</div>
                            <div class="item-input">
                                <select type="select" required="required" class="redinput" v-model="a_recurrence">
                                    <option v-for="(recur, index) in bus.recurrences_string" :value="index+1"
                                            :key="index">
                                        {{ recur.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Heure d'injection</div>
                            <div class="item-input">
                                <input type="time" required="required" class="orangeinput" v-model="a_time">
                            </div>
                        </div>
                    </div>
                </li>
                <li v-if="sounds && sounds.length>0">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Son</div>
                            <div class="item-input">
                                <select type="select" required="required" class="redinput" v-model="a_sound"
                                        @change="playMe()">
                                    <option v-for="(sound,index) in sounds" :value="sound.Url" :key="index">
                                        {{ sound.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
            <input type="submit" value="Fermer" style="width:0;height:0;visibility:hidden;"
                   @click.prevent="saveNewAlert">
        <f7-button class="pclose submit" @click.prevent="saveNewAlert">
            Enregistrer
        </f7-button>
        </form>
    </f7-page>
</template>

<script>
  import bus    from "../../../../main.js";
  import moment from "moment";

  export default {
    props : ["alerteid"],
    data : function() {
      return {
        bus : bus,
        a_label : "",
        a_date : moment().format("YYYY-MM-DD"),
        a_time : moment().format("HH:mm"),
        a_recurrence : 1,
        a_sound : "file://static/notifications_tones/chord.mp3",
        sounds : []
      };
    },
    mounted : function() {
      var me = this;
      me.sounds = _.union([""], bus.$data.sounds);
      bus.is_index = false;
    },
    methods : {
      goBack : function() {
        if(this.a_old_sound && this.a_old_sound.length > 0) {
          cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
        }
        if(window.f7.mainView.activePage.url === "/alertes") {
          window.f7.mainView.router.loadPage("/alertes");
        }
        else {
          window.f7.mainView.router.loadPage("/accueil");
        }
      },
      playMe : function() {
        var me = this;
        if(this.a_old_sound && this.a_old_sound.length > 0) {
          cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
        }
        this.a_old_sound = this.a_sound;
        cordova.plugins.NativeRingtones.playRingtone(me.a_sound);
      },
      saveNewAlert : function() {
        window.f7.showIndicator();
        var r = bus.isNewAlertOk(this.$data);
        if(r === true) {
          if(this.a_old_sound && this.a_old_sound.length > 0) {
            cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
          }
          bus.addNewAlert(this.$data);
          window.f7.hideIndicator();
          if(window.f7.mainView.activePage.fromPage.name === "liste-alertes") {
            window.f7.mainView.router.loadPage("/alertes");
          }
          else {
            window.f7.mainView.router.loadPage("/accueil");
          }
          return true;
        }
        else {
          if(this.a_old_sound && this.a_old_sound.length > 0) {
            cordova.plugins.NativeRingtones.stopRingtone(this.a_old_sound);
          }
          window.f7.hideIndicator();
          window.f7.alert(r.m, function() {
            document.querySelector("."+r.s).focus();
          });
          return false;
        }
      }
    }
  };
</script>
