<template>
  <f7-page name="index">
    <f7-navbar class="accueil">
      <f7-nav-left>
        <f7-link icon="icon-bars" open-panel="left"></f7-link>
      </f7-nav-left>
      <avatar></avatar>
    </f7-navbar>
    <f7-block class="wrapcircles">
      <f7-grid class="circles">
        <valuecircle index="regularite" nom="Régularité" :courant="calculRegularite" couleur="#eea941"></valuecircle>
        <valuecircle index="ponctualite" nom="Ponctualité" :courant="calculPonctualite" couleur="#dc4c4a"></valuecircle>
      </f7-grid>
    </f7-block>
    <alertes ajouter="false" nombre="2"></alertes>
  </f7-page>
</template>

<script>
import bus         from "main.js";
import FondAccueil from "./assets/images/fondaccueil.png";

export default {
  data : function() {
    return {
      bus : bus
    };
  },
  created : function() {
    this.tryToRegister(function() {
      window.f7.showPreloader();
      bus.create(function() {
        window.f7.hidePreloader();
        if(window.localStorage.getItem("nopopupatstart") === null) {
          window.f7.popup("#mypopupconditions");
        }
      });
    });
  },
  beforeMount : function() {
    bus.$emit("closemenu", 1);
  },
  mounted : function() {
    bus.is_index = true;
  },
  beforeUpdate : function() {
  },
  updated : function() {
  },
  beforeDestroy : function() {
  },
  destroy : function() {
  },
  computed : {
    calculRegularite : function() {
      return bus.nombreInjectionsDues > 0 ? Math.floor(bus.nombreInjectionsRellementEffectuees / bus.nombreInjectionsDues * 100) : 0;
    },
    calculPonctualite : function() {
      return bus.nombreInjectionsFaites > 0 ? Math.floor(bus.nombreInjectionsNonRetardees / bus.nombreInjectionsFaites * 100) : 0;
    },
    isIndex : function() {
      return true;
    },
    alertesDuJour : function() {
      return [];
    }
  },
  methods : {
    tryToRegister : function(cb) {
      var me = this;

      function waitForF7(cb) {
        if(window.f7) {
          cb();
        }
        else {
          _.delay(function() {
            waitForF7(cb);
          }, 100);
        }
      }

      cordova.plugins.notification.local.hasPermission(function(granted) {
        if(granted) {
          waitForF7(cb);
        }
        else {
          cordova.plugins.notification.local.requestPermission(function(granted) {
            if(granted) {
              waitForF7(cb);
            }
            else {
              _.delay(function() {
                me.tryToRegister(cb);
              }, 500);
            }
          });
        }
      });
    }
  }
};
</script>
