<template>
    <div id="app">
        <f7-statusbar></f7-statusbar>

        <f7-panel left reveal class="menupanel">
            <ul>
                <li>
                    <f7-link close-panel href="/debug">Debug</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/accueil">Accueil</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/alertes">Alertes</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/historique">Historique</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/bonusage">Bon Usage</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/mentions">Mentions Légales</f7-link>
                </li>
                <li>
                    <f7-link close-panel href="/donneespersonnelles">Données<br>Personnelles</f7-link>
                </li>
            </ul>
            <p class="toavatar">
                <f7-link close-panel href="/avatar">Paramètres</f7-link>
                <f7-link close-panel @click="onResetApp" class="reset">Réinitialiser</f7-link>
            </p>
        </f7-panel>

        <f7-views>
            <f7-view id="main-view" main :domCache="false" :uniqueHistory="true" :allowDuplicateUrls="false"
                     :preloadPreviousPage="false" :reloadPages="true">
                <f7-pages>

                    <f7-page name="index">
                        <f7-navbar class="accueil">
                            <f7-nav-left>
                                <f7-link icon="icon-bars" open-panel="left"></f7-link>
                            </f7-nav-left>
                            <avatar></avatar>
                        </f7-navbar>
                        <f7-block class="wrapcircles">
                            <f7-grid class="circles">
                                <valuecircle index="regularite" nom="Régularité" :courant="calculRegularite"
                                             couleur="#eea941"></valuecircle>
                                <valuecircle index="ponctualite" nom="Ponctualité" :courant="calculPonctualite"
                                             couleur="#dc4c4a"></valuecircle>
                            </f7-grid>
                        </f7-block>
                        <alertes ajouter="false" nombre="2"></alertes>
                    </f7-page>

                    <f7-block class="fixedBottom" v-show="bus.is_index">
                        <f7-button id="addAlert" href="/alerte"> +</f7-button>
                        <p id="p_alert">Ajouter une alerte</p>
                    </f7-block>
                </f7-pages>
            </f7-view>
        </f7-views>

        <popup-injection></popup-injection>
        <popup-conditions-acceptees></popup-conditions-acceptees>
        <popup-code></popup-code>
        <popup-codeloose></popup-codeloose>
        <popup-codeentrer></popup-codeentrer>
        <popup-codeloosemodifier></popup-codeloosemodifier>
        <popup-codemodifier></popup-codemodifier>
        <popup-codedesactiver></popup-codedesactiver>
    </div>
</template>

<script>
  import bus         from "main.js";
  import FondAccueil from "./assets/images/fondaccueil.png";
  import moment      from "moment";

  export default {
    data : function() {
      return {
        bus : bus
      };
    },
    created : function() {
      this.tryToRegister(function() {
        window.f7.showPreloader();
        bus.create(function() {
          window.f7.hidePreloader();
          if(window.localStorage.getItem("nopopupatstart") === null) {
            window.f7.popup("#mypopupconditions");
          }
          else if(bus.needCodeVerification()) {
            window.f7.popup("#mypopupcode");
          }
        });
      });
    },
    beforeMount : function() {
      bus.$emit("closemenu", 1);
    },
    mounted : function() {
      bus.is_index = true;
    },
    beforeUpdate : function() {
    },
    updated : function() {
    },
    beforeDestroy : function() {
    },
    destroy : function() {
    },
    computed : {
      calculRegularite : function() {
        return bus.nombreInjectionsDues > 0 ? Math.floor(bus.nombreInjectionsRellementEffectuees / bus.nombreInjectionsDues * 100) : 0;
      },
      calculPonctualite : function() {
        return bus.nombreInjectionsFaites > 0 ? Math.floor(bus.nombreInjectionsNonRetardees / bus.nombreInjectionsFaites * 100) : 0;
      },
      isIndex : function() {
        return true;
      },
      alertesDuJour : function() {
        return [];
      }
    },
    methods : {
      onResetApp : function() {
        window.f7.modal({
          title : "HémoJ",
          text : "Etes-vous sûr(e) de vouloir effacer toutes les données ?",
          buttons : [{
            text : "Oui",
            bold : false,
            close : true,
            onClick : function() {
              bus.resetApp();
            }
          },
            {
              text : "Non",
              bold : true,
              close : true
            }]
        });
      },
      tryToRegister : function(cb) {
        var me = this;

        function waitForF7(cb) {
          if(window.f7) {

            // var _now = new Date(),
            //     _sec_from_now1 = _now.getTime() - 5 * 1000,
            //     _sec_from_now2 = _now.getTime() + 0 * 1000,
            //     _sec_from_now3 = _now.getTime() + 5 * 1000
            // ;
            //
            // var alert1 = {
            //   "id" : _sec_from_now1,
            //   "label" : "TOUTES LES MINUTES",
            //   "date_fin" : null,
            //   "recurrence" : {
            //     "startdate" : "2018-02-26",
            //     "times" : 1,
            //     "kind" : "days"
            //   },
            //   "status" : true,
            //   "time" : "09:50",
            //   "sound" : "file://static/notifications_tones/aurora.mp3"
            // };
            // bus.programNotifications(alert1);
            // var alert2 = {
            //   "id" : _sec_from_now2,
            //   "label" : "TOUTES LES 2 MINUTES",
            //   "date_fin" : null,
            //   "recurrence" : {
            //     "startdate" : "2018-02-26",
            //     "times" : 2,
            //     "kind" : "days"
            //   },
            //   "status" : true,
            //   "time" : "09:50",
            //   "sound" : "file://static/notifications_tones/aurora.mp3"
            // };
            // bus.programNotifications(alert2);
            // var alert3 = {
            //   "id" : _sec_from_now3,
            //   "label" : "TOUTES LES 3 MINUTES",
            //   "date_fin" : null,
            //   "recurrence" : {
            //     "startdate" : "2018-02-26",
            //     "times" : 3,
            //     "kind" : "days"
            //   },
            //   "status" : true,
            //   "time" : "09:50",
            //   "sound" : "file://static/notifications_tones/aurora.mp3"
            // };
            // bus.programNotifications(alert3);
            //
            // cordova.plugins.notification.local.schedule({
            //   id:123,
            //   title: "HémoJ",
            //   text: "COUCOU -1",
            //   trigger: {
            //     firstAt: _sec_from_now1,
            //     every: "minute"
            //   }
            // });
            // cordova.plugins.notification.local.schedule({
            //   id:456,
            //   title: "HémoJ",
            //   text: "COUCOU 0",
            //   trigger: {
            //     firstAt: _sec_from_now2,
            //     every: "minute"
            //   }
            // });
            // cordova.plugins.notification.local.schedule({
            //   id:789,
            //   title: "HémoJ",
            //   text: "COUCOU +1",
            //   trigger: {
            //     firstAt: _sec_from_now3,
            //     every: "minute"
            //   }
            // });
            // cordova.plugins.notification.local.schedule({
            //   id:101112,
            //   title: "HémoJ",
            //   text: "COUCOU 13:35",
            //   trigger: {
            //     every: {hour:13,minute:35}
            //   }
            // });
            // cordova.plugins.notification.local.schedule({
            //   id:10111876,
            //   title: "HémoJ",
            //   text: "COUCOU MINUTE 2",
            //   trigger: {
            //     every: {minute:2}
            //   }
            // });
            // _.delay(function(){
            //   cordova.plugins.notification.local.getScheduled(function (notifications) {
            //     console.log("====================================");
            //     console.log("scheduled");
            //     _.map(notifications,function(n){
            //       if(n.trigger && n.trigger.at){
            //         var t = moment(n.trigger.at*1000).format();
            //         console.log(n.text+":"+t);
            //       }
            //     });
            //   })},3000);

            cb();
          }
          else {
            _.delay(function() {
              waitForF7(cb);
            }, 100);
          }
        }

        cordova.plugins.notification.local.hasPermission(function(granted) {
          if(granted) {
            waitForF7(cb);
          }
          else {
            cordova.plugins.notification.local.requestPermission(function(granted) {
              if(granted) {
                waitForF7(cb);
              }
              else {
                _.delay(function() {
                  me.tryToRegister(cb);
                }, 500);
              }
            });
          }
        });
      }
    }
  };
</script>