@font-face {
  font-family : "customfont";
  src         : url("../fonts/AveniHea.ttf") format("opentype");
  font-weight : bold;
  font-style  : normal;
}
@font-face {
  font-family : "customfont";
  src         : url("../fonts/AveniLig.ttf") format("opentype");
  font-weight : 100;
  font-style  : normal;
}
@font-face {
  font-family : "customfont";
  src         : url("../fonts/AveniMed.ttf") format("opentype");
  font-style  : normal;
}
/* Slider */

.slick-slider {
  position                    : relative;
  display                     : block;
  -webkit-box-sizing          : border-box;
  box-sizing                  : border-box;
  -webkit-user-select         : none;
  -moz-user-select            : none;
  -ms-user-select             : none;
  user-select                 : none;
  -webkit-touch-callout       : none;
  -khtml-user-select          : none;
  -ms-touch-action            : pan-y;
  touch-action                : pan-y;
  -webkit-tap-highlight-color : transparent;
}
.slick-list {
  position : relative;
  display  : block;
  overflow : hidden;
  margin   : 0;
  padding  : 0;
}
.slick-list:focus {
  outline : none;
}
.slick-list.dragging {
  cursor : pointer;
  cursor : hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform : translate3d(0, 0, 0);
  -ms-transform     : translate3d(0, 0, 0);
  transform         : translate3d(0, 0, 0);
}
.slick-track {
  position : relative;
  top      : 0;
  left     : 0;
  display  : block;
}
.slick-track:before,
.slick-track:after {
  display : table;
  content : '';
}
.slick-track:after {
  clear : both;
}
.slick-loading .slick-track {
  visibility : hidden;
}
.slick-slide {
  display    : none;
  float      : left;
  height     : 100%;
  min-height : 1px;
}
[dir='rtl'] .slick-slide {
  float : right;
}
.slick-slide img {
  display : block;
}
.slick-slide.slick-loading img {
  display : none;
}
.slick-slide.dragging img {
  pointer-events : none;
}
.slick-initialized .slick-slide {
  display : block;
}
.slick-loading .slick-slide {
  visibility : hidden;
}
.slick-vertical .slick-slide {
  display : block;
  height  : auto;
  border  : 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display : none;
}
.tab-link {
  &.active:not(.offline),
  &.active:not(.online) {
    background-color : rgba(1, 18, 25, 0.1);
  }
  &.offline {
    background-color : rgba(255, 0, 0, 0.60);
    &.active {
      background-color : rgba(255, 0, 0, 0.70);
    }
  }
  &.online {
    background-color : rgba(0, 255, 0, 0.25);
    &.active {
      background-color : rgba(0, 255, 0, 0.50);
    }
  }
  i {
    font-size : 24px;
    color     : #ffffff;
    &.settings-icon {
      font-size   : 26px;
      margin-top  : -2px;
      margin-left : 2px;
    }
    &.a {
      display : inline-block;
    }
    &.b {
      display : none;
    }
  }
  &.active {
    i {
      &.a {
        display : none;
      }
      &.b {
        display : inline-block;
      }
    }
  }
}
.fw-flag {
  width  : 44px;
  height : 34px;
  border : 1px solid #eeeeee;
}
.phone-code-selection,
.language-selection {
  .item-title-row {
    background-position-y : 10px !important;
    .item-title span {
      display   : block;
      font-size : 12px;
      color     : #999999;
    }
    .item-after {
      position : relative;
      top      : 11px;
    }
  }
}
.content-block-16-mar {
  margin : 16px 0;
}
#select-contact {
  position : relative;
  i {
    position   : absolute;
    font-size  : 18px;
    left       : 10px;
    top        : 50%;
    margin-top : -10px;
  }
}
.phone-code-selection-area {
  margin-bottom : 0;
  margin-top    : 0;
}
.phone-number-area {
  margin-top : -1px;
  ul:before {
    background : none;
    display    : none;
  }
  i {
    font-size   : 26px;
    margin-left : 7px;
    margin-top  : 5px;
  }
}
.phone-info {
  -webkit-border-radius : 3px;
  border-radius         : 3px;
  padding               : 6px 0;
  text-align            : center;
  color                 : #ffffff;
  position              : relative;
  i,
  span {
    display        : inline-block;
    vertical-align : middle;
    font-size      : 16px;
  }
  i {
    font-size  : 23px;
    position   : absolute;
    left       : 5px;
    top        : 50%;
    margin-top : -12px;
  }
  &.phone-good {
    background : #2196f3;
    .icon-close {
      display : none;
    }
  }
  &.phone-bad {
    background : #f44336;
    .icon-check {
      display : none;
    }
  }
}
.mar-topbot-8 {
  margin-top    : 8px;
  margin-bottom : 8px;
}
.settings-icon {
  font-size   : 35px;
  margin-left : 4px;
}
.settings-icon-mini {
  font-size   : 25px;
  margin-left : 8px;
}
.help-request-item {
  .item-title {
    padding-left : 6px;
  }
}
.phone_number_input_wrap {
  .item-media {
    width : 46px;
  }
}
$orangeinput : #eea941;
$redinput : #dc4c4a;
$inputfontsize : 0.85rem;

/*POPUP 1ERE UTILISATION*/

//Généralités
html {
  font-size : 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family : customfont;
}
.content-block {
  margin  : -webkit-calc(100vw * 401 / 749) 0 0 0;
  margin  : calc(100vw * 401 / 749) 0 0 0;
  padding : 0;
  & > .content-block,
  &.popupdedebut {
    margin-top : 0;
  }
  @media screen and (min-width : 750px) {
    //margin: 14rem 0 0 0;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-top : -webkit-calc(100vw * 244 / 768);
    margin-top : calc(100vw * 244 / 768);
    font-size  : 16px;
  }
}
.list-block.form-alert {
  margin  : calc(100vw * 401 / 749) 0 0 0;
  margin  : -webkit-calc(100vw * 401 / 749) 0 0 0;
  padding : 0;
  & > .content-block,
  &.popupdedebut {
    margin-top : 0;
  }
  @media screen and (min-height : 667px) {
    margin-top : calc(100vw * 401 / 749);
    margin-top : -webkit-calc(100vw * 401 / 749);
  }
  @media screen and (min-height : 1334px) {
    margin-top : calc(100vw * 401 / 749);
    margin-top : -webkit-calc(100vw * 401 / 749);
  }
  @media screen and (width : 768px) {
    margin : calc(100vw * 401 / 749) 0 0 0;
    margin : -webkit-calc(100vw * 401 / 749) 0 0 0;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width  : 70vw;
    margin : -webkit-calc(100vw * 244 / 768) auto 0 auto;
    margin : calc(100vw * 244 / 768) auto 0 auto;
  }
}
h3 {
  font-size      : 0.88rem;
  text-transform : uppercase;
  color          : #4d4d4f;
  margin         : 5% 9% 0 9%;
}
h4 {
  font-size   : 0.7rem;
  font-weight : bold;
  color       : #4d4d4f;
  margin      : 5% 9% 5% 9%;
}
li {
  list-style-position : inside;
  font-weight         : 300;
  text-align          : justify;
  color               : #4d4d4f;
  margin              : 0 9% 20px -10px;
}
p {
  font-size   : 0.77rem;
  font-family : customfont;
  font-weight : 300;
  margin      : 0 9% 20px 9%;
  text-align  : justify;
  color       : #4d4d4f;
}
.title {
  text-align  : center;
  font-size   : 1.7rem;
  font-weight : 200;
  color       : #4d4d4f;
  margin      : 0;
  line-height : -webkit-calc(100vw * 425 / 749);
  line-height : calc(100vw * 425 / 749);
  display     : block;
  left        : 0;
  top         : 0;
  position    : absolute;
  width       : 100%;
  z-index     : 1;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    line-height : 25vw;
  }
}
/*MAIN PROGRESSBARS*/

/* MAIN BLOC DES ALERTES*/

#home {
  font-size               : 35px;
  background              : url('../images/fondaccueil.png') no-repeat top center;
  margin                  : 0;
  -webkit-background-size : 100% 100%;
  background-size         : 100%;
  padding                 : 0;
  height                  : -webkit-calc(532 * 100vw / 750);
  height                  : calc(532 * 100vw / 750);
  min-height              : -webkit-calc(532 * 100vw / 750);
  min-height              : calc(532 * 100vw / 750);
  position                : relative;
}
small {
  display     : block;
  font-size   : 11px;
  color       : #dc4c4a;
  font-weight : bold;
  text-align  : center;
  margin-top  : -10px;
}
.conditions_mention {
  font-size  : 0.7rem;
  color      : #dc4c4a;
  text-align : center;
  margin     : 0 30px;
  @media screen and (min-width : 414px) {
    margin : 0 50px;
  }
}
.hide {
  display : none;
}
/* MAIN POPUP2 : VALIDATION ALERTE */

.popup {
  position                    : absolute;
  left                        : 0;
  top                         : 0;
  width                       : 100%;
  height                      : 100%;
  z-index                     : 11000;
  background                  : none;
  -webkit-box-sizing          : border-box;
  box-sizing                  : border-box;
  overflow                    : auto;
  -webkit-transition-property : -webkit-transform;
  transition-property         : -webkit-transform;
  -o-transition-property      : transform;
  transition-property         : transform;
  transition-property         : transform, -webkit-transform;
  background                  : rgba(0, 0, 0, 0.85);
}
.popup2 .page-content {
  margin : 20px auto;
  height : 385px;
}
.popupform li {
  margin : 0;
}
.btnpopup2 {
  width : 90%;
}
.page {
  background : #ffffff;
}
/* PAGE BON USAGE*/

#p_alert {
  color         : #9e9ea1;
  text-align    : center;
  margin-top    : 10px;
  margin-bottom : 15px;
}
.back {
  background-color        : #ffffff;
  -webkit-background-size : 100% 100%;
  background-size         : 100%;
}
.pclose {
  font-size             : 0.7rem;
  font-weight           : 300;
  color                 : #ffffff;
  text-transform        : uppercase;
  letter-spacing        : 1px;
  text-align            : center;
  width                 : 100%;
  -webkit-border-radius : 0;
  border-radius         : 0;
  border                : 0;
  background            : #eea941;
  line-height           : 3rem;
  height                : 3rem;
  margin                : auto;
  margin-top            : 2em;
}
.pclose.delete {
  margin-top : 0;
  color      : #ffffff;
  background : #ee414b;
  margin     : 0 auto;
  padding    : 0;
}
div[data-page="nouvelle-alerte"] .pclose.submit {
  @media screen and (min-height : 568px) {
    position           : absolute;
    bottom             : 3vw;
    left               : 3vw;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    width              : 94vw;
    overflow           : hidden;
  }
}
div[data-page="edition-alerte"] {
  .pclose.submit {
    @media screen and (min-height : 568px) {
      position           : absolute;
      bottom             : 11vh;
      height             : 8vh;
      line-height        : 8vh;
      left               : 3vw;
      -webkit-box-sizing : border-box;
      box-sizing         : border-box;
      width              : 94vw;
      overflow           : hidden;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      bottom      : 60px;
      height      : 44px;
      line-height : 44px;
    }
  }
  .pclose.delete {
    @media screen and (min-height : 568px) {
      position           : absolute;
      bottom             : 3vw;
      left               : 3vw;
      height             : 8vh;
      line-height        : 8vh;
      -webkit-box-sizing : border-box;
      box-sizing         : border-box;
      width              : 94vw;
      overflow           : hidden;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      bottom      : 10px;
      height      : 44px;
      line-height : 44px;
    }
  }
}
.pclose.cancel {
  margin-top : 0;
  color      : #ffffff;
  background : rgba(209, 212, 213, 1.000);
}
body,
html {
  overflow : hidden;
}
/*CREER UNE ALERTE-FORMULAIRE*/

#form {
  li {
    margin : 0 6%;
  }
}
.item-title.label {
  color       : #9e9ea1;
  font-size   : 0.83rem;
  width       : 50%;
  margin-left : 2%;
}
.list-block {
  margin    : 5px 0;
  font-size : 1rem;
  .item-title.label {
    font                : 100 0.83rem/1rem customfont;
    width               : 50%;
    font-weight         : 100;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
  }
  .item-content {
    padding : 0;
  }
  ul:before {
    display : none;
  }
  ul:after {
    display : none;
  }
  .item-inner:after {
    display : none;
  }
  .item-inner {
    padding : 5% 0;
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      padding : 2% 0;
    }
  }
  input[type=text] {
    color       : $redinput;
    font-size   : $inputfontsize;
    font-weight : 500;
    text-align  : right;
  }
  input[type=text].orangeinput {
    color : $orangeinput;
  }
  input[type=date] {
    color       : $orangeinput;
    text-align  : right;
    font-size   : $inputfontsize;
    font-weight : 500;
    float       : right;
    &::-webkit-search-cancel-button,
    &::-webkit-clear-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-calendar-picker-indicator:after {
      padding            : 0 !important;
      margin             : 0 !important;
      display            : none !important;
      width              : 0 !important;
      -webkit-appearance : none !important;
      position           : absolute !important;
      top                : 0 !important;
      left               : 0 !important;
    }
  }
  input[type=time] {
    color       : $orangeinput;
    text-align  : right;
    font-size   : $inputfontsize;
    font-weight : 500;
    &::-webkit-search-cancel-button,
    &::-webkit-clear-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator,
    &::-webkit-calendar-picker-indicator:after {
      padding            : 0 !important;
      margin             : 0 !important;
      display            : none !important;
      width              : 0 !important;
      -webkit-appearance : none !important;
      position           : absolute !important;
      top                : 0 !important;
      left               : 0 !important;
    }
  }
  input[type=date] *, input[type=time] * {
    padding            : 0 !important;
    margin             : 0 !important;
    display            : none !important;
    width              : 0 !important;
    -webkit-appearance : none !important;
    position           : absolute !important;
    top                : 0 !important;
    left               : 0 !important;
  }
  input[type=checkbox] {
    margin : 0;
  }
  select.orangeinput {
    color : $orangeinput;
  }
  select {
    color                   : $redinput;
    -webkit-text-align-last : right;
    -moz-text-align-last    : right;
    text-align-last         : right;
    font-size               : $inputfontsize;
    font-weight             : 500;
    direction               : rtl;
    option {
      direction   : ltr;
      font-size   : $inputfontsize;
      font-weight : 500;
    }
  }
}
input::-webkit-input-placeholder {
  font-weight             : 500;
  color                   : $redinput;
  text-align              : right;
  -webkit-text-align-last : right;
  -moz-text-align-last    : right;
  text-align-last         : right;
}
input:-moz-placeholder {
  font-weight             : 500;
  color                   : $redinput;
  -webkit-text-align-last : right;
  -moz-text-align-last    : right;
  text-align-last         : right;
}
.ios .list-block {
  input[type=date],
  input[type=time] {
    ::-webkit-datetime-edit,
    ::-webkit-datetime-edit-fields-wrapper,
    ::-webkit-datetime-edit-text,
    ::-webkit-datetime-edit-month-field,
    ::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-year-field,
    ::-webkit-search-cancel-button,
    ::-webkit-clear-button,
    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button,
    ::-webkit-calendar-picker-indicator,
    ::-webkit-calendar-picker-indicator:after {
      padding            : 0 !important;
      margin             : 0 !important;
      display            : none !important;
      width              : 0 !important;
      -webkit-box-sizing : border-box !important;
      box-sizing         : border-box !important;
      -webkit-appearance : none !important;
      position           : absolute !important;
      top                : 0 !important;
      left               : 0 !important;
      width              : 0 !important;
      height             : 0 !important;
      text-align         : right !important;
    }
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    -webkit-appearance : none !important;
    margin             : 0 !important;
    position           : relative;
    float              : right;
    line-height        : 44px;
    @media screen and (min-width : 320px) {
      margin-left : 20px;
    }
    @media screen and (min-width : 375px) {
      margin  : 0 -15px 0 0 !important;
      padding : 0 !important;
    }
    @media screen and (device-aspect-ratio : 40/71) {
      margin-right : -1rem !important;
    }
    @media screen and (min-width : 414px) {
      margin-left : 4vw;
    }
  }
}
/*CHOIX DE L'HEURE*/

.btnheure {
  margin : auto;
}
.txtheure {
  font       : 100 0.86rem customfont;
  text-align : center;
  color      : #4d4d4f;
}
/*MENU*/

.navbar {
  position                : relative;
  width                   : 100%;
  margin                  : 0;
  height                  : -webkit-calc(100vw * 401 / 749);
  height                  : calc(100vw * 401 / 749);
  background              : url('../images/fond.png') no-repeat top center;
  -webkit-background-size : 100vw -webkit-calc(100vw * 401 / 749);
  background-size         : 100vw calc(100vw * 401 / 749);
  &.noback {
    background : none;
    width      : 3rem;
    height     : 3rem;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    height                  : -webkit-calc(100vw * 244 / 768);
    height                  : calc(100vw * 244 / 768);
    background              : url('../images/alerte_header.png') no-repeat bottom center;
    -webkit-background-size : 100vw -webkit-calc(100vw / 768 * 244);
    background-size         : 100vw calc(100vw / 768 * 244);
  }
}
.navbar-fixed .page-content,
.navbar-through .page-content,
.navbar,
.subnavbar,
.toolbar {
  padding-top : 0;
  border      : 0;
}
.navbar .left {
  margin   : 0;
  position : absolute;
  top      : 2rem;
  left     : 1rem;
  z-index  : 2;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    top  : 33px;
    left : 27px;
  }
}
.navbar:after {
  display : none;
}
.navbar a.icon-only,
.subnavbar a.icon-only,
.toolbar a.icon-only {
  margin    : 0 !important;
  min-width : 24px;
  width     : 24px;
  height    : 24px;
}
i.icon.icon-bars {
  background              : url(../images/hamburger.png) no-repeat 0 0;
  -webkit-background-size : contain;
  background-size         : contain;
  margin                  : 0;
  padding                 : 0;
  width                   : 100%;
  height                  : 100%;
}
i.icon.icon-times {
  background              : url(../images/close.png) no-repeat 0 0;
  -webkit-background-size : contain;
  background-size         : contain;
  margin                  : 0;
  padding                 : 0;
  width                   : 100%;
  height                  : 100%;
}
.mention_liste li {
  list-style-position : inside;
}
h1.title.hidden {
  display : none;
}
/*MEDIA QUERIES*/

@media screen and (min-width : 413px) {
  html {
    font-size : 22px;
  }
  .mention_liste li {
    margin : 0;
  }
  h1#home {
    min-height : -webkit-calc(529 * 100vw / 750);
    min-height : calc(529 * 100vw / 750);
  }
  .popupdedebut.popup2 {
    max-width : 450px;
  }
  #form .pclose {
    font-size   : 0.7rem;
    line-height : 4.5;
    margin-top  : 3rem;
    &.cancel {
      margin-top : 0.5rem;
    }
  }
  .mention_liste {
    font-size : 0.77rem;
    margin    : 0 9% 0 9%;
    padding   : 0 0 0 5%;
  }
}
@media screen and (min-width : 600px) {
  html {
    font-size : 28px;
  }
}
@media screen and (min-width : 750px) {
  html {
    font-size : 30px;
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font-size : 16px;
    }
  }
  .navbar a.icon-only,
  .subnavbar a.icon-only,
  .toolbar a.icon-only {
    margin    : 0 !important;
    min-width : 1.6rem;
    width     : 1.6rem;
    height    : 1.6rem;
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      min-width          : 24px;
      width              : 24px;
      height             : 24px;
      -webkit-box-sizing : content-box;
      box-sizing         : content-box;
      padding            : 13px;
    }
  }
  .list-block #form .item-inner {
    padding : 6.5% 0;
  }
  #form .pclose {
    height      : 3.5rem;
    line-height : 4.8;
  }
  #addAlert.button {
    font-size   : 60px;
    width       : 116.4px;
    height      : 116.4px;
    line-height : 1.9;
    margin-top  : 25px;
  }
  .mention_liste li {
    margin : 0;
  }
  #mypopupinjection {
    width    : 100%;
    height   : 100%;
    margin   : 0;
    left     : 0;
    top      : 0;
    position : absolute;
  }
  .popupdedebut.popup2 {
    max-width : 75%;
  }
  .item-input input[type=text].popupform {
    height : 100px;
  }
  .popupdedebut.popup2 .button.pclose {
    height      : 100px;
    line-height : 5;
  }
}
@media screen and (min-width : 765px) {
  html {
    font-size : 35px;
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font-size : 18px;
    }
  }
  #addAlert.button {
    font-size   : 60px;
    width       : 120px;
    height      : 120px;
    line-height : 2;
    margin-top  : 25px;
  }
  .mention_liste {
    font-size : 0.77rem;
    margin    : 0 9% 0 9%;
    padding   : 0 0 0 5%;
  }
  .popup:not(.tablet-fullscreen) {
    width    : 100%;
    height   : 100%;
    margin   : 0;
    left     : 0;
    top      : 0;
    position : absolute;
  }
  .popupdedebut.popup2 {
    max-width : 600px;
    width     : 50%;
  }
}
.notifications {
  &.list-block .item-content {
    padding : 0 5px;
  }
  .notification-item {
    background : #ffffff;
  }
  .item-title-row:before {
    background    : #fcfcfc;
    border-bottom : 1px solid #eeeeee;
  }
  .item-subtitle {
    margin-bottom : 0.5rem;
  }
  .item-text {
    width : 90%;
  }
}
body.panels-3d {
  -webkit-perspective        : none !important;
  perspective                : none !important;
  -webkit-perspective-origin : center center !important;
  perspective-origin         : center center !important;
  overflow                   : hidden
}
body.panels-3d .views {
  -webkit-transform-style : preserve-3d;
  transform-style         : preserve-3d
}
body.panels-3d.with-panel-left-reveal .views {
  -webkit-transform        : none !important;
  -ms-transform            : none !important;
  transform                : none !important;
  -webkit-transform-origin : center center;
  -ms-transform-origin     : center center;
  transform-origin         : center center
}
/*
// body.panels-3d.with-panel-left-reveal .panel-left {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0)
// }
*/
body.panels-3d.with-panel-right-reveal .views {
  -webkit-transform        : none !important;
  -ms-transform            : none !important;
  transform                : none !important;
  -webkit-transform-origin : center center;
  -ms-transform-origin     : center center;
  transform-origin         : center center
}
body.panels-3d {
  background              : url(../images/backmenu.png) no-repeat 0 0;
  -webkit-background-size : cover;
  background-size         : cover;
  .panel {
    background : none;
    width      : -webkit-calc(100vw * 320 / 750);
    width      : calc(100vw * 320 / 750);
    min-width  : 260px;
  }
}
body.panels-3d .menupanel {
  ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    position   : absolute;
    top        : -webkit-calc(100vw * 370 / 750);
    top        : calc(100vw * 370 / 750);
    left       : -webkit-calc(100vw * 40 / 750);
    left       : calc(100vw * 40 / 750);
    width      : 50vw;
    li {
      margin     : 0 0 1rem 0;
      padding    : 0;
      text-align : left;
    }
    a {
      color     : #dc4c4a;
      font-size : 18px;
      display   : block;
    }
    @media screen and (min-width : 750px) {
      width : -webkit-calc(100vw * 320 / 750);
      width : calc(100vw * 320 / 750);
      a {
        font-size : 36px;
      }
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      top   : -webkit-calc(100vw * 370 / 768);
      top   : calc(100vw * 370 / 768);
      left  : -webkit-calc(100vw * 100 / 768);
      left  : calc(100vw * 100 / 768);
      width : -webkit-calc(100vw * 320 / 768);
      width : calc(100vw * 320 / 768);
      a {
        font-size : 26px;
      }
    }
  }
  .toavatar {
    position       : absolute;
    width          : 100%;
    bottom         : 1rem;
    text-transform : uppercase;
    letter-spacing : 1px;
    color          : #4d4d4f;
    font-size      : 11px;
    font-weight    : 100;
    a {
      display    : block;
      text-align : left;
      color      : inherit;
      &:hover {
        color : #dc4c4a;
      }
    }
    .reset {
      margin-top : 2rem;
      color      : #dc4c4a;
    }
    @media screen and (min-width : 750px) {
      font-size      : 22px;
      letter-spacing : 2px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font-size : 16px;
      left      : -webkit-calc(100vw * 70 / 768);
      left      : calc(100vw * 70 / 768);
    }
  }
}
.modal-button {
  font-weight : 100;
}
.list-block .item-link.active-state,
.list-block .list-button.active-state,
html:not(.watch-active-state) .list-block .item-link:active,
html:not(.watch-active-state) .list-block .list-button:active {
  background-color : inherit;
}
.codepopups {
  input[type=text].popupform {
    color       : #e5e4e5;
    font-weight : 300;
    font-family : customfont;
  }
  .list-block.popupform {
    margin : 3%;
  }
  .list-block.popupform ul {
    margin : 0;
  }
  .item-input input.popupform {
    font               : normal 12px / 14px "customfont";
    height             : 50px;
    width              : 100%;
    text-align         : left;
    color              : rgba(0, 0, 0, 0.75);
    border             : 1px solid #e5e4e5;
    border-radius      : 1px;
    text-transform     : none;
    margin-top         : 2%;
    padding            : 0.2em 0.75em;
    letter-spacing     : 1px;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    box-shadow         : none; //text-transform     : uppercase;
    -webkit-appearance : none;
  }
  .item-title.label {
    font       : normal 12px / 14px "customfont";
    color      : #333333;
    text-align : center;
    margin     : 10px 0;
    width      : 100%;
  }
  .item-input input::-webkit-input-placeholder,
  .item-input input::placeholder {
    color              : rgba(0, 0, 0, 0.5);
    text-align         : left;
    font               : normal 12px / 14px "customfont";
    text-transform     : uppercase;
    -webkit-appearance : none;
  }
  .formwrapper {
    margin   : 0 3%;
    position : relative;
  }
  .popupdedebut.popup2 .content-block.lelogo {
    padding-top : 5vh;
  }
  .popupdedebut .popup-logo {
    height    : 15vh;
    max-width : 15vh;
  }
  .popupdedebut .button.pclose {
    height         : 55px;
    letter-spacing : 1px;
    line-height    : 55px;
    font-size      : 12px;
  }
  a.icon-only.link {
    width    : 24px;
    height   : 24px;
    right    : 10px;
    top      : 10px;
    position : absolute;
  }
  #closepopup {
    display : block;
    width   : 1.3rem;
    height  : 1.3rem;
    margin  : 3%;
  }
  p.alerte-infos {
    // position: absolute;
    // top: 40%;
    width              : 100%; // transform: translateY(-50%);
    padding            : 0 1rem;
    margin             : 0;
    text-align         : center;
    font-size          : 0.9rem;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    /*color: rgba(249, 167, 24, 1.000);*/
  }
  .popupdedebut.popup2 .content-block.lelogo {
    margin      : 0 0 0 0;
    padding-top : 5vh;
    padding-top : 2vh;
  }
  .content-block.popup2-form {
    margin      : 0 0 70px 0;
    padding-top : 0;
  }
  .sub-input {
    font       : normal 12px / 14px "customfont";
    padding    : 8px 0;
    text-align : right;
    a {
      color           : #333333;
      opacity         : 0.5;
      text-align      : right;
      margin-top      : 5px;
      text-decoration : none;
      &.error {
        color : #cc0000
      }
    }
  }
  .item-inner.popupform {
    border  : 0;
    margin  : 0;
    padding : 0;
  }
}
#mypopupcode {
  input[type=text].popupform {
    color       : #e5e4e5;
    font-weight : 300;
    font-family : customfont;
  }
  .list-block.popupform {
    margin : 3%;
  }
  .list-block.popupform ul {
    margin : 0;
  }
  .item-input input.popupform {
    font               : normal 12px / 14px "customfont";
    height             : 50px;
    width              : 100%;
    text-align         : left;
    color              : rgba(0, 0, 0, 0.75);
    border             : 1px solid #e5e4e5;
    border-radius      : 1px;
    text-transform     : none;
    margin-top         : 2%;
    padding            : 0.2em 0.75em;
    letter-spacing     : 1px;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    box-shadow         : none; //text-transform     : uppercase;
    -webkit-appearance : none;
  }
  .item-title.label {
    font       : normal 12px / 14px "customfont";
    color      : #333333;
    text-align : center;
    margin     : 10px 0;
    width      : 100%;
  }
  .formwrapper {
    margin   : 0 3%;
    position : relative;
  }
  .popupdedebut.popup2 .content-block.lelogo {
    padding-top : 5vh;
  }
  .popupdedebut .popup-logo {
    height    : 15vh;
    max-width : 15vh;
  }
  .popupdedebut .button.pclose {
    height         : 55px;
    letter-spacing : 1px;
    line-height    : 55px;
    font-size      : 12px;
  }
  #closepopup {
    display : block;
    width   : 1.3rem;
    height  : 1.3rem;
    margin  : 3%;
  }
  p.alerte-infos {
    // position: absolute;
    // top: 40%;
    width              : 100%; // transform: translateY(-50%);
    padding            : 0 1rem;
    margin             : 0;
    text-align         : center;
    font-size          : 0.9rem;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    /*color: rgba(249, 167, 24, 1.000);*/
  }
  .popupdedebut.popup2 .content-block.lelogo {
    margin      : 0 0 0 0;
    padding-top : 5vh;
  }
  .content-block.popup2-form {
    margin      : 0 0 70px 0;
    padding-top : 0;
  }
  .sub-input {
    font       : normal 12px / 14px "customfont";
    padding    : 8px 0;
    text-align : right;
    a {
      color           : #333333;
      opacity         : 0.5;
      text-align      : right;
      margin-top      : 5px;
      text-decoration : none;
      &.error {
        color : #cc0000
      }
    }
  }
  .item-inner.popupform {
    border  : 0;
    margin  : 0;
    padding : 0;
  }
}
*::-webkit-search-cancel-button,
*::-webkit-clear-button,
*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button,
*::-webkit-calendar-picker-indicator,
*::-webkit-calendar-picker-indicator:after {
  padding            : 0 !important;
  margin             : 0 !important;
  display            : none !important;
  width              : 0 !important;
  -webkit-appearance : none !important;
  position           : absolute !important;
  top                : 0 !important;
  left               : 0 !important;
}
div[data-page="index"] .page-content .content-block {
  margin-top : 0;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-top : 0;
  }
}
.navbar.accueil {
  position        : relative;
  height          : -webkit-calc(100vw * 530 / 750);
  height          : calc(100vw * 530 / 750);
  background      : url("../images/fondaccueil.png") no-repeat bottom left;
  background-size : 100vw -webkit-calc(100vw * 530 / 750);
  background-size : 100vw calc(100vw * 530 / 750);
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    height          : -webkit-calc(100vw * 349 / 768);
    height          : calc(100vw * 349 / 768);
    background      : url("../images/accueil_header.png") no-repeat bottom left;
    background-size : 100vw -webkit-calc(100vw * 349 / 768);
    background-size : 100vw calc(100vw * 349 / 768);
  }
}
body.panels-3d {
  .panel-overlay,
  .views {
    transform  : translate3d(0, 0, 0);
    transition : transform 150ms;
    z-index    : 0;
  }
  .views .pages {
    transition : transform 150ms;
    z-index    : 0;
  }
}
.panel.menupanel.panel-left {
  z-index    : -1;
  transition : transform 150ms;
  opacity    : 0;
}
.panel.menupanel.panel-left.panel-reveal {
  z-index    : 9999;
  transition : transform 150ms;
  opacity    : 1;
}
body.panels-3d.with-panel-left-reveal {
  .panel-overlay,
  .views {
    transform  : translate3d(0, 0, 0);
    transition : transform 150ms;
  }
  .views .pages {
    transition        : transform 150ms;
    -webkit-transform : perspective(1000px) translate3d(240px, 60px, -520px) rotateY(-20deg) !important;
    transform         : perspective(1000px) translate3d(240px, 60px, -520px) rotateY(-20deg) !important;
    @media screen and (min-height : 568px) {
      -webkit-transform : perspective(1000px) translate3d(280px, 0px, -830px) rotateY(-20deg) !important;
      transform         : perspective(1000px) translate3d(280px, 0px, -830px) rotateY(-20deg) !important;
    }
    @media screen and (min-height : 667px) {
      -webkit-transform : perspective(1000px) translate3d(320px, 0px, -830px) rotateY(-20deg) !important;
      transform         : perspective(1000px) translate3d(320px, 0px, -830px) rotateY(-20deg) !important;
    }
    @media screen and (min-height : 736px) {
      -webkit-transform : perspective(1000px) translate3d(360px, 0px, -830px) rotateY(-20deg) !important;
      transform         : perspective(1000px) translate3d(360px, 0px, -830px) rotateY(-20deg) !important;
    }
    @media screen and (min-width : 750px) {
      -webkit-transform : perspective(1000px) translate3d(620px, -30px, -740px) rotateY(-20deg) !important;
      transform         : perspective(1000px) translate3d(620px, -30px, -740px) rotateY(-20deg) !important;
    }
  }
}
#title_bonusage {
  font-size     : 0.85rem;
  font-weight   : 300;
  color         : #4d4d4f;
  text-align    : center;
  border-bottom : solid 1px #f2f2f2;
  padding       : 12px;
  margin        : 0 30px 25px 30px;

  @media screen and (min-width : 425px) {
    #title_bonusage {
      margin : 0 90px 25px 90px;
    }
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin    : 0 auto 25px auto;
    font-size : 16px;
    width     : 55%;
  }
}
span {
  font-family : customfont;
  font-weight : bold;
  color       : #144492;
}
.bonusage {
  display    : block;
  margin     : auto;
  width      : 80%;
  max-width  : 540px;
  text-align : center;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    max-width : 405px;
  }
}
#txtbonusage {
  color          : #ffffff;
  text-transform : none;
  padding        : 1rem 0;
  font-weight    : normal;
  font-size      : 0.85rem;
}
#blueblock {
  background-color : #20438f;
  width            : 95%;
  margin           : auto;
  text-align       : center;
}
#mix2vial {
  margin     : 20px 9%;
  text-align : center;
  font-size  : 0.68rem;
}
.swiper-container {
  @media screen and (min-width : 320px) {
    height : 100px;
    width  : 300px;
  }
  @media screen and (min-width : 375px) {
    height : 120px;
    width  : 360px;
  }
  @media screen and (min-width : 540px) {
    height : 170px;
    width  : 510px;
  }

  .swiper-slide {
    background : #cccccc;
    overflow   : hidden;
    background : #ffffff;
    opacity    : 0.7;
    @media screen and (min-width : 320px) {
      height : 100px;
      width  : 100px;
    }
    @media screen and (min-width : 375px) {
      height : 120px;
      width  : 120px;
    }
    @media screen and (min-width : 540px) {
      height : 170px;
      width  : 170px;
    }
    text-align : center;
    .imgwrapper {
      -webkit-border-radius : 100%;
      border-radius         : 100%;
      border                : 2px solid transparent;
      -webkit-box-sizing    : border-box;
      box-sizing            : border-box;
      text-align            : center;
      position              : relative;
      overflow              : hidden;
      background            : #ffffff;
      @media screen and (min-width : 320px) {
        height : 100px;
        width  : 100px;
      }
      @media screen and (min-width : 375px) {
        height : 120px;
        width  : 120px;
      }
      @media screen and (min-width : 540px) {
        height : 170px;
        width  : 170px;
      }
    }
    img {
      opacity : 0.7;
      @media screen and (min-width : 320px) {
        height : 96px;
        width  : 96px;
      }
      @media screen and (min-width : 375px) {
        height : 116px;
        width  : 116px;
      }
      @media screen and (min-width : 540px) {
        height : 166px;
        width  : 166px;
      }
    }
  }
  .swiper-slide-active {
    .imgwrapper {
      border : 2px solid #eea941;
    }
    opacity : 1;
    img {
      opacity : 1;
    }
  }
}
.swiper-container-horizontal > .swiper-scrollbar {
  display : none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background : url("../images/previous.png") no-repeat 0 0 !important;
  left       : 0;
  right      : auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background : url("../images/next.png") no-repeat 0 0 !important;
  right      : -10px;
  left       : auto;
}
.onmiddle {
  position          : absolute;
  top               : 50%;
  left              : 0;
  -webkit-transform : translateY(-50%);
  -ms-transform     : translateY(-50%);
  transform         : translateY(-50%);
  margin-top        : 0;
  width             : 100vw;
  height            : 30vh;
  overflow          : hidden;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width : 90vw;
    left  : 5vw;
  }
}
.tobottom {
  left              : 50%;
  bottom            : 0.5rem;
  position          : absolute;
  -webkit-transform : translateX(-50%);
  -ms-transform     : translateX(-50%);
  transform         : translateX(-50%);
}
div[data-page="avatar"] .pclose {
  width : 94%;
}
.codeaction {
  width       : 90%;
  display     : block;
  margin      : 0 auto;
  padding-top : 1em;
  border-top  : 1px solid rgba(0, 0, 0, 0.1);
  position    : relative;
  strong { font-size : 15px;color : #1d1d26;font-weight : normal;float : left;width : 50%;}
  span { position : relative;display : block;float : left;width : 50%;text-align : right;}
  img { width : 42px;height : 22px;}
  em { padding : 0;color : #1d1d26;font-size : 12px;clear : both;display : block;width : 100%;text-align : right;font-style : normal;padding : 0;margin : 2em 0 0 0;}
  em.off { opacity : 0;}
  em.on { opacity : 1;
    background    : #eea942;
    color         : #ffffff;
    display       : inline-block;
    width         : auto;
    padding       : 10px;
    border-radius : 1px;
    margin-left   : 30%;}
}
#calendrier .page-content {
  overflow : hidden;
  overflow : scroll-y;
}
.nomarge {
  margin-top : 0;
  overflow   : scroll;
  overflow   : scroll-y;
  @media screen and (min-height : 480px) {
    height : calc(100vh - 404 * 100vw / 320);
    height : -webkit-calc(100vh - 404 * 100vw / 320);
  }
  @media screen and (min-height : 667px) {
    height : calc(100vh - 422 * 100vw / 375);
    height : -webkit-calc(100vh - 422 * 100vw / 375);
  }
  @media screen and (min-height : 736px) {
    height : calc(100vh - 454 * 100vw / 414);
    height : -webkit-calc(100vh - 454 * 100vw / 414);
  }
  @media screen and (min-height : 1334px) {
    height : calc(100vh - 894 * 100vw / 750);
    height : -webkit-calc(100vh - 894 * 100vw / 750);
  }
  @media screen and (min-height : 1024px) {
    height : calc(95vh - 589 * 100vw / 768);
    height : -webkit-calc(95vh - 589 * 100vw / 768);
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    height : calc(95vh - 589 * 100vw / 768);
    height : -webkit-calc(95vh - 589 * 100vw / 768);
  }
}
#calendrier {
  overflow-x : hidden;
  max-width  : 100vw;
  .row {
    width                   : 100%;
    -webkit-box-pack        : inherit;
    -webkit-justify-content : inherit;
    -ms-flex-pack           : inherit;
    justify-content         : inherit;
    border-bottom           : 1px solid #f2f2f2;
  }
  .vdp-datepicker__calendar {
    width                   : 100%;
    background              : url("../images/fondhistorique.png") no-repeat bottom center;
    -webkit-background-size : cover;
    background-size         : cover;
    border                  : none;
    line-height             : 3;
    padding                 : 8% 0 0 0;
    padding-bottom          : -webkit-calc(100vw * 90 / 375);
    padding-bottom          : calc(100vw * 90 / 375);
    @media screen and (min-width : 375px) {
      line-height    : 3;
      padding        : 8% 0 0 0;
      padding-bottom : -webkit-calc(100vw * 90 / 375);
      padding-bottom : calc(100vw * 90 / 375);
    }
    @media screen and (min-width : 750px) {
      line-height    : 3;
      padding        : 8% 0 0 0;
      padding-bottom : -webkit-calc(100vw * 90 / 375);
      padding-bottom : calc(100vw * 90 / 375);
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      background      : url("../images/historique_header.png") no-repeat bottom center;
      background-size : cover;
      line-height     : 0;
      overflow        : hidden;
      width           : 100vw;
      padding         : 10vw 20vw 0 20vw;
      min-height      : calc(100vw * 1178 / 1536);
      min-height      : -webkit-calc(100vw * 1178 / 1536);
    }
  }
  .vdp-datepicker__calendar .cell.day-header {
    color          : #ffffff;
    text-transform : uppercase;
    font           : 100 0.8rem/0.8rem customfont;
    height         : 10px;
    @media screen and (min-width : 375px) {
      font   : 100 0.6rem/0.6rem customfont;
      height : 10px;
    }
    @media screen and (min-width : 750px) {
      font   : 100 0.8rem/0.8rem customfont;
      height : 30px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font   : 100 0.7rem/0.7rem customfont;
      height : 20px;
    }
  }
  .vdp-datepicker__calendar .cell.highlighted {
    background  : none;
    color       : #dc4c4a;
    font-weight : 300;
    font-size   : 0.9rem;
    @media screen and (min-width : 750px) {
      font-size : 0.9rem;
    }
  }
  .vdp-datepicker__calendar .cell {
    font-size      : 0.9rem;
    color          : #dc4c4a;
    font-weight    : 100;
    margin         : 0.8rem 0;
    margin-bottom  : 0;
    padding-bottom : 0;
    height         : 30px;
    line-height    : 30px;
    @media screen and (min-width : 750px) {
      height      : 80px;
      line-height : 80px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      height      : 50px;
      line-height : 50px;
    }
  }
  .vdp-datepicker__calendar header {
    margin-bottom : 10px;
    padding-right : 30px;
    @media screen and (min-width : 375px) {
      margin-bottom : 40px;
    }
    @media screen and (min-width : 750px) {
      margin-bottom : 80px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      margin-bottom : 40px;
    }
  }
  .vdp-datepicker__calendar header span {
    width       : 100%;
    color       : #ffffff;
    font-size   : 0.95rem;
    font-weight : 300;
    text-align  : left;
    margin-left : 18%;
    font-size   : 1.1rem;
    @media screen and (min-width : 375px) {
      margin-left : 18%;
      font-size   : 1.1rem;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      margin-left : 2.5vw;
      font-size   : 1.5rem;
    }
    &.up:after {
      content                 : " ";
      display                 : inline-block;
      width                   : 22px;
      height                  : 8px;
      font-size               : 10px;
      margin-left             : 1em;
      background              : url("../images/downcalendar.png") no-repeat 0 50%;
      -webkit-background-size : contain;
      background-size         : contain;
      -webkit-box-align       : center;
      -webkit-align-items     : center;
      -ms-flex-align          : center;
      align-items             : center;
      vertical-align          : middle;
      text-align              : center;
      @media screen and (min-width : 375px) {
        font-size : 10px;
        height    : 9px;
      }
      @media screen and (min-width : 414px) {
        font-size : 13px;
        height    : 10px;
      }
      @media screen and (min-width : 750px) {
        width  : 22px;
        height : 12px;
      }
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        font-size : 13px;
        height    : 10px;
      }
    }
  }
  .vdp-datepicker__calendar header .next,
  .vdp-datepicker__calendar header .prev {
    display : none;
  }
  .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
  .vdp-datepicker__calendar .cell:hover {
    border-color : transparent;
    cursor       : default;
    background   : none;
  }
  .vdp-datepicker__calendar header .next:not(.disabled):hover, .vdp-datepicker__calendar header .prev:not(.disabled):hover, .vdp-datepicker__calendar header .up:not(.disabled):hover {
    background : transparent;
  }
  .vdp-datepicker__calendar .cell.selected {
    background              : none;
    -webkit-background-size : contain;
    background-size         : contain;
    color                   : #dc4c4a;
  }
  .vdp-datepicker__calendar .cell.month.selected,
  .vdp-datepicker__calendar .cell.year.selected {
    background              : none !important;
    -webkit-background-size : 500px 500px !important;
    background-size         : 500px 500px !important;
    color                   : #000000;
  }
  .vdp-datepicker__calendar .cell.highlighted {
    background              : url("../images/calorange.png") no-repeat 50% 50% !important;
    -webkit-background-size : contain !important;
    background-size         : contain !important;
  }
  .vdp-datepicker__calendar .cell.today {
    font-weight             : bold;
    font-weight             : 800;
    background              : url("../images/calhighlighted.png") no-repeat 50% 50% !important;
    -webkit-background-size : contain !important;
    background-size         : contain !important;
    color                   : #dc4c4a;
  }
  .vdp-datepicker__calendar .cell.highlighted.selected {
    background              : url("../images/calorange.png") no-repeat 50% 50% !important;
    -webkit-background-size : contain !important;
    background-size         : contain !important;
  }
  .vdp-datepicker__calendar .cell.highlighted.today,
  .vdp-datepicker__calendar .cell.highlighted.today.selected {
    font-weight             : bold;
    font-weight             : 800;
    background              : url("../images/calorange.png") no-repeat 50% 50% !important;
    -webkit-background-size : contain !important;
    background-size         : contain !important;
    color                   : #dc4c4a;
  }
}
.injections {
  .textalert {
    text-align : left;
  }
  small {
    margin      : 0;
    font-size   : 0.6rem;
    font-weight : 100;
    text-align  : left;
    display     : block;
    color       : rgba(29, 29, 38, 0.5);
  }
}
.empty {
  p {
    width      : 90%;
    height     : 90%;
    margin     : 5%;
    background : rgba(0, 0, 0, 0.1);
  }
}
#closenouvelle {
  top      : 6vw;
  left     : 6vw;
  position : absolute;
}
#blockalertes2:before {
  content                 : " ";
  display                 : block;
  width                   : -webkit-calc(100% - 2 * $margecoche);
  width                   : calc(100% - 2 * $margecoche);
  background              : url("../images/divider.png") no-repeat 0 0;
  -webkit-background-size : 768px 11px;
  background-size         : 768px 11px;
  height                  : 11px;
  @media screen and (min-width : 750px) {
    background              : url("../images/divider.png") no-repeat 0 0;
    -webkit-background-size : 1536px 22px;
    background-size         : 1536px 22px;
    height                  : 22px;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    max-width               : 600px;
    margin                  : 0 auto;
    background              : url("../images/divider.png") no-repeat 0 0;
    -webkit-background-size : 768px 11px;
    background-size         : 768px 11px;
    height                  : 11px;
  }
}
li.swipeout {
  margin  : 0;
  padding : 0;
}
.flistevide {
  .item-title,
  .item-subtitle,
  .item-text {
    span {
      display            : inline-block;
      width              : 7rem;
      background         : #ececec;
      -webkit-box-sizing : border-box;
      box-sizing         : border-box;
      margin             : 2px;
    }
  }
  .item-title span {
    background : #dcdcdc;
    width      : 5rem;
  }
  .item-text span {
    width       : 10rem;
    margin-left : 1rem;
    background  : #ececec;
    height      : 0.8rem;
  }
}
div[data-page="liste-alertes"] {
  .list-block {
    margin-left : 3%;
    @media screen and (min-height : 1024px) {
      margin-bottom : 180px;
    }
    @media screen and (min-width : 750px) {
      margin-left : 62px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      width  : 70vw;
      margin : 0 auto;
      li {
        margin-right : 0;
      }
    }

    .item-inner {
      position       : relative;
      padding-bottom : 5px;
      @media screen and (min-width : 750px) {
        padding-bottom : 30px;
      }
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        padding-bottom : 10px;
      }
    }
    .item-title {
      font-weight : 100 !important;
      color       : rgba(29, 29, 38, 0.5);
      font-size   : 19px;
      line-height : 20px;
      @media screen and (min-width : 750px) {
        font-size   : 38px;
        line-height : 38px;
      }
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        font-size   : 19px;
        line-height : 20px;
      }
    }
    .item-subtitle {
      color       : rgba(29, 29, 38, 0.5);
      font-weight : 500;
      color       : rgba(29, 29, 38, 0.5);
      font-size   : 11px;
      width       : 110px;
      @media screen and (min-width : 750px) {
        font-size : 22px;
        width     : 220px;
      }
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        font-size : 11px;
        width     : 110px;
      }
      strong {
        font-weight : 100;
        display     : block;
        color       : rgba(249, 167, 24, 1.000);
        font-size   : 13px;
        line-height : 13px;
        @media screen and (min-width : 750px) {
          font-size   : 26px;
          line-height : 26px;
        }
        @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
          font-size   : 13px;
          line-height : 13px;
        }
      }
    }
    .item-text {
      height                  : 100%;
      position                : absolute;
      top                     : 0;
      display                 : -webkit-box;
      display                 : -webkit-flex;
      display                 : -ms-flexbox;
      display                 : flex;
      -webkit-box-align       : center;
      -webkit-align-items     : center;
      -ms-flex-align          : center;
      align-items             : center;
      color                   : #000000;
      background              : url("../images/nextitem.png") no-repeat 100% 50%;
      width                   : 180px;
      left                    : 110px;
      font-size               : 15px;
      -webkit-background-size : 10px 20px;
      background-size         : 10px 20px;
      @media screen and (min-width : 375px) {
        width                   : 235px;
        left                    : 110px;
        font-size               : 15px;
        -webkit-background-size : 10px 20px;
        background-size         : 10px 20px;
      }
      @media screen and (min-width : 414px) {
        width                   : -webkit-calc(100% - 130px);
        width                   : calc(100% - 130px);
        left                    : 110px;
        font-size               : 15px;
        -webkit-background-size : 10px 20px;
        background-size         : 10px 20px;
      }
      @media screen and (min-width : 750px) {
        width                   : -webkit-calc(100vw - 320px);
        width                   : calc(100vw - 320px);
        left                    : 220px;
        font-size               : 28px;
        -webkit-background-size : 33px 60px;
        background-size         : 33px 60px;
      }
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        width                   : -webkit-calc(100vw * 400 / 768);
        width                   : calc(100vw * 400 / 768);
        left                    : 110px;
        font-size               : 15px;
        -webkit-background-size : 10px 20px;
        background-size         : 10px 20px;
      }
    }
  }
}
.list-block li.media-item .item-link .item-title-row,
.list-block.media-list .item-link .item-title-row {
  background : none;
}
.alerteswrapper {
  height                : 100px;
  overflow              : scroll;
  -webkit-user-select   : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
  -webkit-touch-callout : none;
  -khtml-user-select    : none;

  @media screen and (min-height : 568px) {
    height : calc(2 * 85px);
    height : -webkit-calc(2 * 85px);
  }
  @media screen and (min-height : 667px) {
    height : -webkit-calc(3 * 100px);
    height : calc(3 * 100px); }
  @media screen and (min-height : 736px) {
    height : calc(4 * 110px); }
  height                : -webkit-calc(4 * 110px); }
@media screen and (min-height : 1334px) {
  height : calc(4 * 120px);
  height : -webkit-calc(4 * 120px); }
@media screen and (min-height : 1920px) {
  height : calc(5 * 120px);
  height : -webkit-calc(5 * 120px); }
@media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
  height : 37vh; }
.fixedBottom {
  position   : absolute;
  bottom     : 0;
  left       : 0;
  width      : 100vw;
  height     : 60px;
  z-index    : 100;
  background : rgba(255, 255, 255, 1);
  @media screen and (min-height : 568px) {
    height : 70px }
  @media screen and (min-height : 667px) {
    height : 80px }
  @media screen and (min-height : 736px) {
    height : 90px }
  @media screen and (min-height : 1024px) {
    height : 180px }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    height : 100px; }
  p#p_alert {
    margin-top : 2px;
    font-size  : 9px;
    @media screen and (min-height : 568px) {
      font-size : 10px; }
    @media screen and (min-height : 667px) {
      font-size : 12px; }
    @media screen and (min-height : 736px) {
      font-size : 14px; }
    @media screen and (min-height : 1024px) {
      font-size : 24px; }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font-size : 12px; }
  }
}
.content-block.nomargetop {
  margin-top : 0 !important;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-top : -8vw !important;
  }
}
div[data-page="index"] .content-block.nomargetop {
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-top : -3vw !important;
  }
}
#addAlert.button {
  -webkit-border-radius : 100%;
  border-radius         : 100%;
  background-color      : #eea941;
  color                 : #ffffff;
  border                : none;
  font-weight           : 100;
  line-height           : 38px;
  width                 : 38px;
  height                : 38px;
  font-size             : 20px;
  margin                : 5px auto 0 auto;
  -webkit-box-shadow    : 0 0 5px rgba(128, 128, 128, 0.3);
  box-shadow            : 0 0 5px rgba(128, 128, 128, 0.3);
  @media screen and (min-height : 568px) {
    width       : 44px;
    height      : 44px;
    line-height : 44px;
    font-size   : 30px;
    margin      : 5px auto 0 auto; }
  @media screen and (min-height : 667px) {
    width              : 50px;
    height             : 50px;
    line-height        : 50px;
    font-size          : 35px;
    margin             : 5px auto 0 auto;
    -webkit-box-shadow : 0 0 7px rgba(128, 128, 128, 0.3);
    box-shadow         : 0 0 7px rgba(128, 128, 128, 0.3); }
  @media screen and (min-height : 736px) {
    width              : 66px;
    height             : 66px;
    line-height        : 66px;
    font-size          : 40px;
    margin             : 5px auto 0 auto;
    -webkit-box-shadow : 0 0 10px rgba(128, 128, 128, 0.3);
    box-shadow         : 0 0 10px rgba(128, 128, 128, 0.3); }
  @media screen and (min-height : 1024px) {
    width              : 110px;
    height             : 110px;
    line-height        : 110px;
    font-size          : 100px;
    margin             : 15px auto 0 auto;
    -webkit-box-shadow : 0 0 15px rgba(128, 128, 128, 0.3);
    box-shadow         : 0 0 15px rgba(128, 128, 128, 0.3); }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width              : 55px;
    height             : 55px;
    line-height        : 55px;
    font-size          : 40px;
    margin             : 7px auto 7px auto;
    -webkit-box-shadow : 0 0 15px rgba(128, 128, 128, 0.3);
    box-shadow         : 0 0 15px rgba(128, 128, 128, 0.3); }
}
$margecoche : 6%;
#blockalertes:before {
  content                 : " ";
  display                 : block;
  width                   : -webkit-calc(100% - 2 * $margecoche);
  width                   : calc(100% - 2 * $margecoche);
  background              : url("../images/divider.png") no-repeat 0 0;
  -webkit-background-size : 768px 11px;
  background-size         : 768px 11px;
  height                  : 11px;
  @media screen and (min-width : 750px) {
    background              : url("../images/divider.png") no-repeat 0 0;
    -webkit-background-size : 1536px 22px;
    background-size         : 1536px 22px;
    height                  : 22px;
    margin-top              : -webkit-calc(100vw * 15 / 750);
    margin-top              : calc(100vw * 15 / 750); }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    background-size : cover;
    width           : 74vw;
    height          : 11px;
    margin          : 3vw auto 0 auto; }
}
#blockalertes {
  margin : 0 6%;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width   : 70vw;
    padding : 0 15vw;
    margin  : 0; }
}
.alertes {
  width      : 100%;
  text-align : right;
  margin     : 0;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width  : 74vw;
    margin : 0 auto; }
}
.row {
  width                   : 100%;
  -webkit-box-align       : center;
  -webkit-align-items     : center;
  -ms-flex-align          : center;
  align-items             : center;
  -webkit-box-pack        : inherit;
  -webkit-justify-content : inherit;
  -ms-flex-pack           : inherit;
  justify-content         : inherit;
  font-family             : customfont;
  .col-55 {
    width          : 55%;
    padding        : 3% 2%;
    vertical-align : middle;
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      padding : 3% 0; }
    p.textalert {
      margin  : 0 0 0 5vw;
      padding : 0;
      @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
        margin    : 0;
        font-size : 0.9rem; }
    }
  }
  .col-20 {
    padding : 0;
    width   : 20%;
    div {
      text-align     : center;
      vertical-align : middle;
      width          : 100%;
      height         : 100%;
      position       : relative;
    }
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    .col-25 {
      width : 20%;
    }
    .col-55 {
      width : 55%;
    }
    .col-20 {
      width : 20%;
      div {
        margin-left : 3vw;
      }
    }
  }
}
$line_color : #f2f2f2;
.item-inner {
  border-bottom : 1px solid $line_color;
}
.check {
  width                   : 27.6px;
  height                  : 19.8px;
  background              : url("../images/checks.png") no-repeat 0 0;
  -webkit-background-size : 55.2px 19.8px;
  background-size         : 55.2px 19.8px;
  -webkit-appearance      : none;
  -moz-appearance         : none;
  appearance              : none;
  border                  : 0;
}
.check:checked {
  background              : url("../images/checks.png") no-repeat -27.6px 0;
  -webkit-background-size : 55.2px 19.8px;
  background-size         : 55.2px 19.8px;
}
@media screen and (min-width : 413px) {
  .check {
    width                   : 33.2px;
    height                  : 23.76px;
    -webkit-background-size : 66.4px 23.76px;
    background-size         : 66.4px 23.76px;
  }
  .check:checked {
    background              : url("../images/checks.png") no-repeat -33.2px 0;
    -webkit-background-size : 66.4px 23.76px;
    background-size         : 66.4px 23.76px;
  }
}
@media screen and (min-width : 600px) {
  .check {
    width                   : 46.48px;
    height                  : 33.26px;
    -webkit-background-size : 92.96px 33.26px;
    background-size         : 92.96px 33.26px;
  }
  .check:checked {
    background              : url("../images/checks.png") no-repeat -46.48px 0;
    -webkit-background-size : 92.96px 33.26px;
    background-size         : 92.96px 33.26px;
  }
}
@media screen and (min-width : 750px) {
  .check {
    width                   : 58.1px;
    height                  : 41.57px;
    -webkit-background-size : 116.2px 41.57px;
    background-size         : 116.2px 41.57px;
  }
  .check:checked {
    background              : url("../images/checks.png") no-repeat -58.1px 0;
    -webkit-background-size : 116.2px 41.57px;
    background-size         : 116.2px 41.57px;
  }
}
/*@media screen and (min-width : 1080px) {
//  .check {
//    width                   : 83.66px;
//    height                  : 59.86px;
//    -webkit-background-size : 167.32px 59.86px;
//    background-size         : 167.32px 59.86px;
//  }
//  .check:checked {
//    background              : url("../images/checks.png") no-repeat -83.66px 0;
//    -webkit-background-size : 167.32px 59.86px;
//    background-size         : 167.32px 59.86px;
//  }
}*/
@media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
  .check {
    width           : 3.75vw;
    height          : 2.5vw;
    background-size : 7.5vw 2.5vw;
  }
  .check:checked {
    background      : url("../images/checks.png") no-repeat -3.75vw 0;
    background-size : 7.5vw 2.5vw;
  }
}
.time {
  color       : #9f9fa2;
  font-size   : 1.3rem;
  line-height : 1.3rem;
  margin      : 0;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    padding-left : 1vw;
    font-size    : 1.1rem; }
}
.date {
  color       : #f39120;
  font-size   : 0.6rem;
  line-height : 0.7rem;
  margin      : 0;
  font-weight : 500;
  @media screen and (min-width : 414px) {
    font-size : 0.7rem;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    padding-left : 1vw;
    font-size    : 0.6rem; }
}
.textalert {
  font-size   : 1rem;
  padding-top : 10px;
  text-align  : left;
  font-family : customfont;
  font-weight : 100;
  margin      : 0 0 0 5vw;
  span {
    font-family : customfont;
    font-weight : 100;
    color       : #9f9fa2;
  }
}
.blockalertevide {
  .date {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    border             : 0.3rem solid #ffffff;
    width              : 100%;
    height             : 100%;
    background         : #f0f0f0;
    display            : block;
    font-size          : 12px;
    margin             : 0.5rem;
  }
  .time {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    border             : 0.3rem solid #ffffff;
    width              : 100%;
    height             : 100%;
    background         : #f0f0f0;
    display            : block;
    font-size          : 20px;
    margin             : 0.5rem;
  }
  .textalert {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    border             : 0.3rem solid #ffffff;
    padding-top        : 5px;
    text-align         : center;
    font-family        : customfont;
    font-size          : 20px;
    font-weight        : 300;
    background         : #f0f0f0;
    margin             : 0.5rem;
    min-height         : 2rem;
  }
  li {
    margin : 0;
  }
}
#avatar {
  width             : -webkit-calc(205 * 100vw / 750);
  width             : calc(205 * 100vw / 750);
  height            : -webkit-calc(205 * 100vw / 750);
  height            : calc(205 * 100vw / 750);
  display           : block;
  position          : absolute;
  top               : -webkit-calc(370 * 100vw / 750);
  top               : calc(370 * 100vw / 750);
  left              : 50%;
  -webkit-transform : translateX(-50%);
  -ms-transform     : translateX(-50%);
  transform         : translateX(-50%);
  overflow          : hidden;
  border-radius     : 100%;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width  : -webkit-calc(135 * 100vw / 768);
    width  : calc(135 * 100vw / 768);
    height : -webkit-calc(135 * 100vw / 768);
    height : calc(135 * 100vw / 768);
    top    : -webkit-calc(240 * 100vw / 768);
    top    : calc(240 * 100vw / 768);
  }
}
#avatar img {
  width             : 100%;
  position          : absolute;
  top               : 50%;
  -webkit-transform : translate(-50%, -50%);
  -ms-transform     : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
  left              : 50%;
}
$blanctournant : 1rem;
$hbcp : 3.5rem;
$mbcp : 2%;
.popupdedebut {
  width                 : 84%;
  height                : 80%;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width  : 60%;
    height : 60%;
  }
  overflow              : scroll;
  padding               : 0;
  background            : #ffffff;
  position              : absolute;
  top                   : 50%;
  left                  : 50%;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
  -webkit-transform     : translate(-50%, -50%);
  -ms-transform         : translate(-50%, -50%);
  transform             : translate(-50%, -50%);
  &.popup2 {
    height : auto;
    @media screen and (min-height : 668px) {
      .button.pclose {
        position : relative;
        bottom   : auto;
      }
    }
  }
  .button.pclose {
    font                  : 100 1rem/1.2rem customfont;
    color                 : #ffffff;
    text-transform        : uppercase;
    letter-spacing        : 0.1rem;
    text-align            : center;
    width                 : 94%;
    -webkit-border-radius : 0;
    border-radius         : 0;
    border                : 0;
    background            : rgba(249, 167, 24, 1.000);
    margin                : 5px 3%;
    line-height           : $hbcp*1/3;
    height                : $hbcp*1/3;
    font-weight           : 300;
    font-size             : 0.7rem;
    position              : absolute;
    bottom                : 0;
    left                  : 0;
    @media screen and (min-height : 568px) {
      margin      : 3% 3%;
      line-height : $hbcp*2/3;
      height      : $hbcp*2/3;
    }
    @media screen and (min-height : 667px) {
      margin      : 3% 3%;
      line-height : $hbcp*3 / 4;
      height      : $hbcp*3 / 4;
    }
    @media screen and (min-height : 736px) {
    }
  }
  .lelogo {
    text-align  : center;
    margin      : 0;
    padding-top : $blanctournant;
  }
  .popup-logo {
    height     : 15vw;
    max-height : 292px;
    @media screen and (min-height : 568px) {
      height : 22vw;
    }
    @media screen and (min-height : 769px) {
      height : 25vw;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      height : 22vw;
    }
  }
  .letexte {
    font       : 100 0.8rem/1.0rem customfont;
    font-size  : 10px;
    text-align : justify;
    color      : #4d4d4f;
    border     : 0;
    padding    : 0 8%;
    margin     : $blanctournant/2 0;
    .content-block-inner {
      background : none;
    }
    @media screen and (min-height : 568px) {
      margin    : $blanctournant 0;
      font-size : 11px;
    }
    @media screen and (min-height : 667px) {
      font-size : 14px;
    }
    @media screen and (min-height : 736px) {
      font-size : 15px;
    }
    @media screen and (min-height : 768px) {
      font-size : 18px;
    }
    @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
      font-size     : 16px;
      line-height   : 120%;
      margin        : 1em 0;
      height        : 53%;
      border-bottom : 1px solid rgba(0, 0, 0, 0.5);
      overflow      : scroll;
    }
  }
}
#mypopupinjection {
  input[type=text].popupform {
    color       : #e5e4e5;
    font-weight : 300;
    font-family : customfont;
  }
  .list-block.popupform {
    margin : 3%;
  }
  .list-block.popupform ul {
    margin : 0;
  }
  .item-input input[type=text].popupform {
    height             : 50px;
    width              : 100%;
    text-align         : left;
    color              : #989898;
    border             : 1px solid #e5e4e5;
    text-transform     : none;
    margin-top         : 2%;
    font-weight        : 300;
    padding            : 0 0.5em;
    letter-spacing     : 3px;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
  }
  .item-input input[type=text].popupform::-webkit-input-placeholder {
    color                   : #c8c8c8;
    text-align              : left;
    -webkit-text-align-last : left;
    -moz-text-align-last    : left;
    text-align-last         : left;
    font-weight             : 100;
    font-size               : 0.60rem;
    line-height             : 0.70rem;
    padding                 : 0 0.5em;
    -webkit-box-sizing      : border-box;
    box-sizing              : border-box;
  }
  .formwrapper {
    margin   : 0 3%;
    position : relative;
  }
  .popupdedebut .button.pclose {
    height      : 44px;
    line-height : 44px;
  }
}
#closepopup {
  display : block;
  width   : 1.3rem;
  height  : 1.3rem;
  margin  : 3%;
}
p.alerte-infos {
  // position: absolute;
  // top: 40%;
  width              : 100%;
  // transform: translateY(-50%);
  padding            : 0 1rem;
  margin             : 0;
  text-align         : center;
  font-size          : 0.9rem;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  color              : rgba(249, 167, 24, 1.000);
}
.popupdedebut.popup2 .content-block.lelogo {
  margin      : 0 0 0 0;
  padding-top : 0;
}
.content-block.popup2-form {
  margin      : 0 0 70px 0;
  padding-top : 0;
}
.circles:before {
}
.circles {
  text-align : center;
}
.col-auto.valuecircle {
  overflow : hidden;
  width    : 50% !important;
  float    : left;
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    width : 300px !important;
  }
}
.chartcontainer {
  top      : 0;
  left     : 0;
  position : relative;
  padding  : 0;
  margin   : 0;
  width    : 100%;
  height   : 100%;
}
.circles .col-50 {
  position           : relative;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  width              : 50%;
}
.regularite {
  transform-origin : top center; // transform:scale(0.6) translate(15%,11%);
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-left : calc(50% - 300px);
    margin-left : -webkit-calc(50% - 300px);
  }
}
.ponctualite {
  transform-origin : top center; // transform:scale(0.6) translate(-15%,11%);
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    margin-right : calc(50% - 300px);
  }
}
.circle {
  width   : -webkit-calc(100vw * 167 / 750);
  width   : calc(100vw * 167 / 750);
  height  : -webkit-calc(100vw * 167 / 750);
  height  : calc(100vw * 167 / 750);
  display : block;
  margin  : 0 auto;
  padding : 0;
}
.value {
  display           : block;
  font-weight       : 100;
  font-size         : -webkit-calc(100vw * 50 / 750);
  font-size         : calc(100vw * 50 / 750);
  line-height       : -webkit-calc(100vw * 190 / 750);
  line-height       : calc(100vw * 190 / 750);
  text-align        : center;
  text-transform    : uppercase;
  width             : 100%;
  height            : 100%;
  position          : absolute;
  position          : absolute;
  top               : 50%;
  left              : 50%;
  -webkit-transform : translate(-50%, -38%);
  -ms-transform     : translate(-50%, -38%);
  transform         : translate(-50%, -38%);
  /*
  //@media screen and (min-width : 1024px) {
  //  top               : 50%;
  //  font-size         : -webkit-calc(100vw * 40 / 750);
  //  font-size         : calc(100vw * 40 / 750);
  //  -webkit-transform : translateY(-60%);
  //  -ms-transform     : translateY(-60%);
  //  transform         : translateY(-60%);
  //}
  */
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    -webkit-transform : translate(-50%, -55%);
    -ms-transform     : translate(-50%, -55%);
    transform         : translate(-50%, -55%);
  }
}
.circles .name {
  margin         : 0.5rem 0 0 0;
  color          : #000000;
  font-size      : 10px;
  text-transform : uppercase;
  letter-spacing : 1px;
  @media screen and (min-width : 320px) {
    font-size : 10px;
  }
  @media screen and (min-width : 375px) {
    font-size : 12px;
  }
  @media screen and (min-width : 414px) {
    font-size : 14px;
  }
  @media screen and (min-width : 750px) {
    font-size : 20px;
  }
  @media screen and (device-aspect-ratio : 3 / 4), (min-device-width : 800px) and (orientation : portrait) {
    color          : #666666;
    margin         : 1vw 0 0 0;
    letter-spacing : 3px;
    font-size      : 18px;
  }
}
#oval {
  margin-left : 600px;
}

.android {
  input::-webkit-input-placeholder,
  input::placeholder {
    color              : rgba(0, 0, 0, 0.5);
    text-align         : left;
    font               : normal 12px / 14px "customfont";
    text-transform     : uppercase;
    -webkit-appearance : none;
    text-align              : left;
    -webkit-text-align-last : left;
    -moz-text-align-last    : left;
    text-align-last         : left;
  }
}